<AuthorizeView Roles="DHPGLIST-admin" Context="Admin_Card">
    <AeCard class="facard1" CardPosition="AeCard.CardStyle.Horizontal">
        <Header>
            <div>
                <AeIcon class="fad fa-user-crown fa-xs"/>
            </div>
        </Header>
        <ChildContent>
            <AeTypography Variant="h3">
                @Localizer["PROJECT-PAGE.ADMIN-CARD.Title"]
            </AeTypography>
        </ChildContent>
        <Footer>
            <NavLink href="@($"/edit-project/{ProjectAcronym}")">
                <AeButton>@Localizer["Edit Project"]</AeButton>
            </NavLink>
            <NavLink href="@($"/tracker/{ProjectAcronym}")">
                <AeButton>@Localizer["Project Tracker"]</AeButton>
            </NavLink>
            <NavLink href="@($"/admin/powerbi/{ProjectAcronym}")">
                <AeButton>@Localizer["Power BI Links"]</AeButton>
            </NavLink>
            <NavLink href="@($"/admin/onboardusers/{ProjectAcronym}")">
                <AeButton>@Localizer["Onboard Users"]</AeButton>
            </NavLink>
        </Footer>

    </AeCard>
</AuthorizeView>

@code {
    [CascadingParameter(Name = "ProjectAcronym")]
    public string ProjectAcronym { get; set; }
}