@using Datahub.Portal.Data.ProjectResource
@inject IDbContextFactory<DatahubProjectDBContext> _dbFactoryProject
@inject RequestManagementService _requestManagementService
@inject NavigationManager NavigationManager

@if (Project is null)
{
    <ToolCard Loading/>
}
else
{
    <ToolCard
        Title="@Localizer["Azure Databricks"]"
        Description="@Localizer["Run your Python, R and SQL notebooks in the cloud with Databricks for analytics, machine learning and data pipelines"]">
        <Logo>
            <img src="/icons/svg/databricks.svg" alt="Databricks">
        </Logo>
        <ToolActionsList>
            <ul>
                @if (!string.IsNullOrWhiteSpace(Project.Databricks_URL))
                {
                    <li>                                
                        <DHLink DataProject="@ProjectAcronym" DatabricksURL="@Project.Databricks_URL">
                            <ToolActionButton LinkType="LinkType.External">
                                    @Localizer["Open Azure Databricks"]
                            </ToolActionButton>
                        </DHLink>
                    </li>
                    <li>
                        <AeButton class="light" OnClickEvent="HandleEditMetadata">@Localizer["Edit Metadata"]</AeButton>
                    </li>
                }
                else
                {
                    if (_databricksServiceRequested)
                    {
                        <li>
                            <MudText class="access-text">@Localizer["Service Request is being reviewed"]</MudText>
                        </li>
                    }
                    else
                    {
                        <li>
                            <ToolActionButton LinkType="_databricksServiceRequestPending ? LinkType.Pending : LinkType.Request" OnClick="@HandleRequestService">
                                @Localizer["Request Service Creation"]
                            </ToolActionButton>
                        </li>
                    }
                }
            </ul>
        </ToolActionsList>
    </ToolCard>
}

@code {

    [CascadingParameter(Name = "Project")]
    private Datahub_Project Project { get; set; }

    [CascadingParameter(Name = "UserId")]
    public string UserId { get; set; }

    [CascadingParameter(Name = "GraphUser")]
    public Microsoft.Graph.User GraphUser { get; set; }

    private bool _databricksServiceRequested;
    private bool _databricksServiceRequestPending;

    private string ProjectAcronym => Project?.Project_Acronym_CD;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await using var projectDbContext = await _dbFactoryProject.CreateDbContextAsync();

        if (UserId != null)
        {
            _databricksServiceRequested = await projectDbContext.Project_Requests
                .Where(p => p.Project == Project)
                .AnyAsync(r =>
                    r.ServiceType == RequestManagementService.DATABRICKS
                    && r.Is_Completed == null);
        }
    }

    private async Task HandleRequestService()
    {
        if (_databricksServiceRequestPending)
            return;

        _databricksServiceRequestPending = true;
        StateHasChanged();

        var serviceRequest = new Datahub_ProjectServiceRequests()
        {
            ServiceType = RequestManagementService.DATABRICKS,
            ServiceRequests_Date_DT = DateTime.Now,
            Is_Completed = null,
            Project = Project,
            User_ID = UserId,
            User_Name = GraphUser.UserPrincipalName
        };

        await _requestManagementService.RequestServiceWithDefaults(serviceRequest);
        _databricksServiceRequested = true;
    }

    private void HandleEditMetadata()
    {
        NavigationManager.NavigateTo($"/admin/databricks/metadata/{ProjectAcronym}");
    }
}