@inject IUserInformationService UserInformationService
@inject ServiceAuthManager ServiceAuthManager
@page "/admin"

<style>
    .ae.card {
        margin-bottom: 1rem;
    }
</style>


<AeTypography Variant="h1">@Localizer["DataHub Administration"]</AeTypography>

<AuthorizeView Roles="@string.Join(',', _authorizedRoles)">
    <Authorized>
        <AeFlex Vertical>
            <ProjectAccessRequestTable 
                UserId=@CurrentUserId
                IsDatahubAdmin=@IsDataHubAdmin
            />

            <ServiceAccessRequestTable 
                UserId=@CurrentUserId
                IsDatahubAdmin=@IsDataHubAdmin
            />

            <ServiceCreationRequestTable 
                UserId=@CurrentUserId
                IsDatahubAdmin=@IsDataHubAdmin
            />

            @if (_user != null)
            {
                <NotificationTestPanel 
                    DefaultEmailName=@CurrentUserName
                    DefaultEmailAddress=@CurrentUserEmail
                />
            }
        </AeFlex>
    </Authorized>
    <NotAuthorized>
        <AeTypography Variant="h1">@Localizer["This page is limited for DataHub administrators"]</AeTypography>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="@RoleConstants.DATAHUB_ROLE_ADMIN">
    <Authorized>
        <AeCard>
            <Header>
                <AeTypography Variant="h1">@Localizer["Datahub Tools"]</AeTypography>
            </Header>
            <ChildContent>
                <p>
                    <NavLink href="/admin/powerbi">@Localizer["Power BI Admin Page"]</NavLink>
                </p>
                <p>
                    <NavLink href="@($"/datahub/{UrlPathSegment.PROJECTS}")">@Localizer["DataHub Project Tracker"]</NavLink>
                </p>
                <p>
                    <NavLink href="/metadata/definitions">@Localizer["Metadata"]</NavLink>
                </p>
                <p>
                    <NavLink href="/apiusers">@Localizer["API Users"]</NavLink>
                </p>
            </ChildContent>
        </AeCard>
    </Authorized>
</AuthorizeView>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private System.Security.Claims.ClaimsPrincipal _user;

    private string CurrentUserId { get; set; }
    private string CurrentUserName { get; set; }
    private string CurrentUserEmail { get; set; }
    private bool IsDataHubAdmin { get; set; }

    private List<string> _authorizedRoles;

    protected override void OnAfterRender(bool firstRender)
    {
        // You must re-render after the components are initialized in order for the 
        // component reference to not be null
        if (firstRender) {
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _authorizedRoles = ServiceAuthManager.GetAdminProjectRoles();
        _user = (await authenticationStateTask).User;
        CurrentUserId = await UserInformationService.GetUserIdString();
        CurrentUserEmail = _user.Identity.Name;
        CurrentUserName = _user.Claims.Where(c => c.Type == "name").FirstOrDefault()?.Value;
        IsDataHubAdmin = _user.IsInRole(RoleConstants.DATAHUB_ROLE_ADMIN);
    }

}
