<MudDialog Style="height: 830px" ContentStyle="height: 100%">
    <TitleContent>
        <div class="d-flex gap-4">
            <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Primary"/>
            <MudText Typo="Typo.h4">@Localizer[Title]</MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudCarousel TData="object" Class="mud-width-full" Style="height: 690px; margin-bottom: 1rem" AutoCycle="false">
            <BulletTemplate Context="selected">
                <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                    <span class="mud-icon-button-label">
                        <MudIcon Icon="@(selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Color="@Color.Inherit"/>
                    </span>
                </div>
            </BulletTemplate>
            <ChildContent>
                @foreach (var content in Contents)
                {
                    <MudCarouselItem>
                        <MudStack Class="px-12 py-4" Style="height: 100%; overflow:  hidden; overflow-y: scroll">

                            <DHMarkdown Content="@content" LinkRewriter="@RewriteLink"/>
                        </MudStack>
                    </MudCarouselItem>
                }
            </ChildContent>
        </MudCarousel>
    </DialogContent>
    <DialogActions>
        <MudContainer Style="display: flex">
            <MudCheckBox @bind-Checked="@_hideAllAlerts" T="bool" Style="margin-right: auto" Size="Size.Medium" Label="@Localizer["Hide all alerts"].ToString().ToUpper()"/>
            <MudButton OnClick="Close" Color="Color.Primary" Variant="Variant.Filled">@Localizer["Close"]</MudButton>
        </MudContainer>
    </DialogActions>
</MudDialog>


@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string Title { get; set; }

    [Parameter] public List<string> Contents { get; set; }

    [Parameter] public Func<string, string> RewriteLink { get; set; }

    private bool _hideAllAlerts { get; set; } = false;

    public void Close() => MudDialog.Close(DialogResult.Ok(_hideAllAlerts));
}