@using Datahub.Core.Model.Achievements
@using Datahub.Portal.Pages.Home

@inherits ViewUserBase<AccountPublicProfile>

@inject DatahubPortalConfiguration _datahubPortalConfiguration
@inject IPortalUserTelemetryService _telemetryService

@if (ViewedUser is null)
{
    <DHLoadingInitializer Message="@Localizer["Initializing Profile..."]"/>
    return;
}

<MudStack>
    <MudImage Src="@_datahubPortalConfiguration.Media.GetAchievementImageUrl(ViewedUser?.BannerPictureUrl)"
              Alt="@Localizer["User's background image"]"
              Class="rounded-lg mud-elevation-4"
              Style="width: 100%"
              ObjectFit="ObjectFit.Cover"
              Height="320"
              ObjectPosition="ObjectPosition.Center"/>
    <div role="group">
        <h2 class="sr-only">
            @Localizer["Profile of"] @ViewedUser?.DisplayName
        </h2>
        <MudGrid>
            <MudItem xs="12" md="@(ViewedUser.UserSettings?.HideAchievements ?? true ? 12 : 8)">
                <MudStack Row AlignItems="AlignItems.Center" Class="mb-6">
                    <MudAvatar Style="width:120px; height: 120px">
                        <MudImage Src="@_datahubPortalConfiguration.Media.GetAchievementPortraitUrl(ViewedUser?.ProfilePictureUrl)"
                                  Alt="@Localizer[""]"
                                  Height="120"
                                  Width="120"/>
                    </MudAvatar>
                    <MudStack Spacing="0">
                        <MudText Typo="Typo.h2">
                            <strong>@ViewedUser?.DisplayName</strong>
                        </MudText>
                        <MudText Typo="Typo.caption" Class="ml-2">@ViewedUser?.Email</MudText>
                    </MudStack>
                </MudStack>
            </MudItem>
            @if (!(ViewedUser.UserSettings?.HideAchievements ?? true))
            {
                <MudItem xs="12" md="4">
                    <MudStack>
                        <MudStack Spacing="6">
                            <ProfileAchievements ViewedUser="@ViewedUser"/>
                        </MudStack>
                        <MudLink Href="@_achievementsUrl">
                            @Localizer["View All Achievements"]
                        </MudLink>
                    </MudStack>
                </MudItem>
            }
        </MudGrid>
    </div>
    <UserProjects UserId="@_userProjectGuid" SmSize="6"/>
</MudStack>

@code {

    private PortalUser _currentUser;
    [Parameter] public PortalUser ViewedUser { get; set; }
    [Parameter] public EventCallback<PortalUser> OnViewedUserChanged { get; set; }
    private string _userProjectGuid;
    private string _achievementsUrl => $"{PageRoutes.AccountPrefix}/{PersonalSidebar.SectionViews.Achievements}{(string.IsNullOrWhiteSpace(UserIdBase64) ? "" : $"?u={UserIdBase64}")}";

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        _currentUser = await _userInformationService.GetCurrentPortalUserAsync();
        if (_currentUser.GraphGuid != ViewedUser.GraphGuid)
        {
            await _telemetryService.LogTelemetryEvent(TelemetryEvents.UserViewOtherProfile);
        }
        _userProjectGuid = ViewedUser.GraphGuid;
        StateHasChanged();
    }


}