@page "/w"

@using Datahub.Application.Configuration
@using Datahub.Core.Model.Projects

@inject IDbContextFactory<DatahubProjectDBContext> _dbFactory
@inject DatahubPortalConfiguration _datahubPortalConfiguration
@inject IMetadataBrokerService _metadataBrokerService

<UserProjects />

@if (_filteredProjects?.Any() == true)
{
    <MudTable Striped Items="_filteredProjects" Class="my-12" Filter="new Func<Datahub_Project,bool>(ProjectFilter)">
    <ToolBarContent>
            <MudText Typo="Typo.h2" Class="py-4">@Localizer["All Workspaces"]</MudText>
            <MudSpacer />
            <MudTextField T="string" Placeholder="@Localizer["Search"]" DebounceInterval="500"
                          @bind-Value="_projectSearchFilter" Adornment="Adornment.Start" 
                          AdornmentIcon="@Icons.Material.Filled.Search" Clearable="true">
            </MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Datahub_Project, object>(x => x.Project_Acronym_CD)">@Localizer["Acronym"]</MudTableSortLabel>
            </MudTh>
            
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Datahub_Project, object>(x => x.ProjectName)" InitialDirection="SortDirection.Ascending">@Localizer["Name"]</MudTableSortLabel>
            </MudTh>

            <MudTh>
                <MudTableSortLabel SortBy="new Func<Datahub_Project, object>(x => GetDepartment(x.Project_Acronym_CD))" InitialDirection="SortDirection.Ascending">@Localizer["Department"]</MudTableSortLabel>
            </MudTh>

            <MudTh>
                @*placeholder for the actions colum*@
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Acronym">@context.Project_Acronym_CD</MudTd>
            
            <MudTd DataLabel="Name">@context.ProjectName</MudTd>
            
            <MudTd DataLabel="Department/Agency">@GetDepartment(context.Project_Acronym_CD)</MudTd>
            
            <MudTd DataLabel="ProjectButton"> 
                <MudButton EndIcon="@UserWorkspaceOpenIcon" Variant="Variant.Text" Color="Color.Primary"
                           Href="@($"/{_datahubPortalConfiguration.ProjectUrlSegment}/{context.Project_Acronym_CD}")">
                    @Localizer["Open Workspace"]
                </MudButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}
else
{
    <div class="no-projects">
        <i class="fas fa-box-full"></i>
        <MudText Typo="Typo.h5">@Localizer["Sorry, we can't find any projects that match your filter!"]</MudText>
    </div>
}

@code {

    private const string UserWorkspaceOpenIcon = Icons.Material.Filled.KeyboardDoubleArrowRight;

    private List<Datahub_Project> _allProjects;
    private List<Datahub_Project> _filteredProjects;

    private string _projectSearchFilter = string.Empty;
    private Dictionary<string, string> _departments = new();

    protected override async Task OnInitializedAsync()
    {
        await using var context = await _dbFactory.CreateDbContextAsync();
        _allProjects = await context.Projects
            .Where(p =>
                (p.Project_Status == (int) ProjectStatus.InProgress || p.Is_Featured) &&
                !p.Is_Private && !string.IsNullOrWhiteSpace(p.Project_Acronym_CD)
                && !string.IsNullOrWhiteSpace(p.Project_Name))
            .ToListAsync();

        _filteredProjects = _allProjects;

        await LoadMetadata();
    }

    private async Task LoadMetadata()
    {
        var values = await _metadataBrokerService.ListObjectFieldValues("organization_name");
        foreach (var v in values)
        {
            _departments[v.Name.ToLower()] = v.Value;
        }
    }

    private string GetDepartment(string acronym)
    {
        return _departments.TryGetValue(acronym.ToLower(), out string value) ? value : "N/A";
    }

    private bool ProjectFilter(Datahub_Project project)
    {
        return project.Project_Name.ToLowerInvariant().Contains(_projectSearchFilter.ToLowerInvariant()) ||
               project.Project_Acronym_CD.ToLowerInvariant().Contains(_projectSearchFilter.ToLowerInvariant()) ||
               project.Sector_Name.ToLowerInvariant().Contains(_projectSearchFilter.ToLowerInvariant());
    }
}