@using MudBlazor.Utilities
@inject IConfiguration Configuration


<span>
    <MudTooltip Text="@Localizer[TOOLTIP_TEXT]">
        <div class="reader-only"><p>@Localizer[TOOLTIP_TEXT]</p></div>
        <MudToggleIconButton
            aria-label="Help toggle"
            ToggledIcon="@Icons.Material.Filled.Help"
            ToggledChanged="@ToggleHelp"
            Toggled="IsHelpPopupOpen"
            Icon="@Icons.Material.Outlined.HelpOutline"/>
    </MudTooltip>

    <MudPopover
        Style="@_style"
        Open="@IsHelpPopupOpen"
        Class="overflow-scroll"
        AnchorOrigin="Origin.BottomRight"
        TransformOrigin="Origin.TopRight">
        <MudCard Elevation="0" Class="py-4 px-6">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h2">@Localizer["Troubleshooting"]</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    @*Tooltip currently does not work here*@
                    @*issue has been reported here: https://github.com/MudBlazor/MudBlazor/issues/5542*@
                    <MudTooltip Text="@(Localizer["Close"])">
                        <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" OnClick="@ToggleHelp"/>
                    </MudTooltip>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <HelpDialog ToggleHelp="@ToggleHelp"/>
            </MudCardContent>
        </MudCard>
    </MudPopover>
</span>

@code {

    [Parameter]
    public bool IsHelpPopupOpen { get; set; }

    [Parameter]
    public Action ToggleHelp { get; set; }

    private string _style;
    private string _datahubEmail;
        private const string TOOLTIP_TEXT = "Help";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _datahubEmail = Configuration.GetValue<string>("EmailNotification:DatahubEmail") ?? "datahub@nrcan-rncan.gc.ca";

        _style = new StyleBuilder()
            .AddStyle("width", "550px")
            .AddStyle("overflow-y", "auto")
            .AddStyle("max-height", "800px")
            .Build();
    }

}