@using MudBlazor.Utilities
@using Datahub.Core.Components.Common
<nav class="sr-only">
    <ul>
        <li>
            <a href="#maincontent">@Localizer["Skip to main content"]</a>
        </li>
        <li>
            <a href="#header">@Localizer["Skip to header"]</a>
        </li>
        <li>
            <a href="#nav">@Localizer["Skip to navigation"]</a>
        </li>
    </ul>
    <h3>@Localizer["Language selection"]</h3>
    <ul>
        <li>
            <a>
                <LanguageToggle/>
            </a>
        </li>
    </ul>
</nav>
<div class="sr-only" id="header">
    <h3>@Localizer["Federal Science DataHub"]</h3>
</div>
<MudLink Href="@PageRoutes.Home" Underline="Underline.None">
    <MudStack Row AlignItems="AlignItems.Center">
        <MudImage src="_content/Datahub.Core/img/datahub-logo-v2.png" Height="30"/>
        <MudText Typo="Typo.h6" Style="@_titleStyle">
            @Localizer["MainTitle"]
        </MudText>
    </MudStack>
</MudLink>

@*<MudSpacer/>
<HomeSearch />*@

<MudSpacer/>
<MudStack Row>
    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.Home]>
        @Localizer["Home"]
    </DHButton>
    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.News]>
        @Localizer["News"]
    </DHButton>
    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.Explore]>
        @Localizer["Explore"]
    </DHButton>
    <DHButton Variant="Variant.Text" Href=@Localizer[@PageRoutes.ResourceDefault]>
        @Localizer["Learn"]
    </DHButton>
    <DHButton Variant="Variant.Text" Href=@Localizer[@PageRoutes.Help]>
        @Localizer["Support"]
    </DHButton>
</MudStack>
<MudSpacer/>
<SearchPopover/>

<MudSpacer/>
@* <NotificationsList IsNotificationsListOpen="@IsNotificationsListOpen" ToggleNotificationsList="ToggleNotificationsList" />
<MudIconButton Icon="@Icons.Material.Outlined.HelpOutline" Href=@PageRoutes.Help aria-label="help"></MudIconButton> *@
@* <HelpPopup/>*@
<TopBarProfileButton/>

@code {

    [Parameter] public string SupportFormUrl { get; set; }

    private string _titleStyle;

    private bool IsNotificationsListOpen { get; set; }

    private void ToggleNotificationsList()
    {
        IsNotificationsListOpen = !IsNotificationsListOpen;
    }

    private void ToggleHelp()
    {
        IsNotificationsListOpen = false;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _titleStyle = new StyleBuilder()
            .AddStyle("color", "var(--mud-palette-text-primary)")
            .Build();
    }

}