@using MudBlazor.Utilities
@using Datahub.Core.Components.Common

@inject NavigationManager _navManager

<nav class="sr-only">
    <h2>@Localizer["Screen reader navigation"]</h2>
    <ul id="wb-tphp" class="wb-init wb-disable-inited">
        <li class="wb-slc">
            <a class-="wb-sl" href="@(_navManager.Uri + "#maincontent")">@Localizer["Skip to main content"]</a>
        </li>
        <li class="wb-slc">
            <a class="wb-sl" href="@(_navManager.Uri + "#nav")">@Localizer["Skip to navigation"]</a>
        </li>
    </ul>
</nav>

<MudImage Src=@Localizer["/img/canada-fip.svg"] Alt=@Localizer["Government of Canada Wordmark"] Style="max-height: 25px; margin-top: 20px; float:left!important;" />

<MudText Typo="Typo.h2" Style="@_titleStyle">
    @Localizer["MainTitle"]
</MudText>
<MudStack Row Style="margin-right: auto; width: 40%; margin-top: 20px" Justify="Justify.Center" role="group">
    <h2 class="sr-only">@Localizer["Navigation menu"]</h2>
    <nav role="navigation">
        <ul style="list-style-type: none">
            <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert="true">
                <li style="display: inline-block; margin-inline: 3px">
                    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.Home] Size="Size.Small">
                        <MudText>@Localizer["Home"]</MudText>
                    </DHButton>
                </li>
                <li style="display: inline-block; margin-inline: 3px">
                    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.News] Size="Size.Small">
                        <MudText>@Localizer["Announcements"]</MudText>
                    </DHButton>
                </li>
                <li style="display: inline-block; margin-inline: 3px">
                    <DHButton Variant="Variant.Text" Href=@Localizer[@PageRoutes.ResourceDefault] Size="Size.Small">
                        <MudText>@Localizer["Resources"]</MudText>
                    </DHButton>
                </li>
                <li style="display: inline-block; margin-inline: 3px">
                    <DHButton Variant="Variant.Text" Href=@Localizer[@PageRoutes.Help] Size="Size.Small">
                        <MudText>@Localizer["Support"]</MudText>
                    </DHButton>
                </li>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.LgAndUp" Invert="true">
                <li style="display: inline-block; margin-inline: 3px">
                    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.Home] Size="Size.Medium">
                        <MudText>@Localizer["Home"]</MudText>
                    </DHButton>
                </li>
                <li style="display: inline-block; margin-inline: 3px">
                    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.News] Size="Size.Medium">
                        <MudText>@Localizer["Announcements"]</MudText>
                    </DHButton>
                </li>
                <li style="display: inline-block; margin-inline: 3px">
                    <DHButton Variant="Variant.Text" Href=@Localizer[@PageRoutes.ResourceDefault] Size="Size.Medium">
                        <MudText>@Localizer["Resources"]</MudText>
                    </DHButton>
                </li>
                <li style="display: inline-block; margin-inline: 3px">
                    <DHButton Variant="Variant.Text" Href=@Localizer[@PageRoutes.Help] Size="Size.Medium">
                        <MudText>@Localizer["Support"]</MudText>
                    </DHButton>
                </li>
            </MudHidden>
        </ul>
    </nav>
</MudStack>
@*<MudSpacer/>
<SearchPopover/>*@

<TopBarProfileButton/>

@code {

    [Parameter] public string SupportFormUrl { get; set; }

    private string _titleStyle;

    private bool IsNotificationsListOpen { get; set; }

    private void ToggleNotificationsList()
    {
        IsNotificationsListOpen = !IsNotificationsListOpen;
    }

    private void ToggleHelp()
    {
        IsNotificationsListOpen = false;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _titleStyle = new StyleBuilder()
            .AddStyle("color", "var(--mud-palette-text-primary)")
            .AddStyle("font-size", "1.2rem")
            .AddStyle("margin-left", "3rem")
            .AddStyle("margin-top", "20px")
            .AddStyle("text-wrap", "nowrap")
            .Build();
    }

}