@inject IUserInformationService _userInformationService
@inject NavigationManager _navigationManager

@using Datahub.Application.Services.UserManagement
@using Microsoft.Identity.Web
@using MudBlazor.Utilities
@using Datahub.Core.Components.Common
@using Datahub.Core.Model.Achievements
@using Datahub.Portal.Components.User

@if (_viewedUser is null)
{
    return;
}
<DatahubAuthView AuthLevel="DatahubAuthView.AuthLevels.Authenticated">
    @* <div class="sr-only"><p>@Localizer["Your profile"]</p></div>
    <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" FullWidth>
        <ActivatorContent>
            <DHButton HtmlTag="button" Class="ml-2">
                <UserCard ViewedUserGraphId="@_viewedUser.GraphGuid" Size="@Size.Medium"/>
                <DHIcon Icon="@Icons.Material.Filled.ArrowDropDown" Size="@Size.Medium" />
            </DHButton>
        </ActivatorContent>
        <ChildContent>
            <DatahubAuthView AuthLevel="DatahubAuthView.AuthLevels.DatahubAdminGuestView">
                <MudMenuItem OnClick="@ToggleAdminMode">
                    <MudSwitch
                        T="bool"
                        Color="Color.Primary"
                        Value="@_isViewAsAdmin"
                        Label="@Localizer["Admin Access Enabled"]"/>
                </MudMenuItem>
                <MudDivider/>
            </DatahubAuthView>
            <MudMenuItem Href="@($"{PageRoutes.AccountPrefix}/{PersonalSidebar.SectionViews.Customization}")">@Localizer["Settings"]</MudMenuItem>
            <MudMenuItem OnClick="@HandleLanguageToggle">
                <LanguageToggle @ref="_languageToggle"/>
            </MudMenuItem>
            <MudMenuItem Href="@PageRoutes.TermsAndConditions">@Localizer["Terms and Conditions"]</MudMenuItem>
            <MudDivider/>
            <MudMenuItem OnClick="@HandleLogOut">
                @Localizer["Sign Out"]
            </MudMenuItem>
        </ChildContent>
    </MudMenu> *@
    <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert="true">
        <MudText Typo="Typo.h2" Class="sr-only">@Localizer["Settings"]</MudText>
        <DHButton Style="margin-top: 20px;" Size="Size.Small" Href="@Localizer[PageRoutes.AccountDefault]">
            <MudText>@Localizer["Settings"]</MudText>
        </DHButton>
        <MudText Typo="Typo.h2" Class="sr-only">@Localizer["Language selection"]</MudText>
        <LanguageToggle Style="margin-top: 20px;" @ref="_languageToggle" Size="Size.Small" />
        <MudText Typo="Typo.h2" Class="sr-only">@Localizer["Sign in or out"]</MudText>
        <DHButton HtmlTag="button" Style="margin-top: 20px; text-wrap: nowrap" OnClick="@HandleLogOut" Size="Size.Small">
            <MudText>@Localizer["Sign out"]</MudText>
        </DHButton>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.LgAndUp" Invert="true">
        <MudText Typo="Typo.h2" Class="sr-only">@Localizer["Settings"]</MudText>
        <DHButton Style="margin-top: 20px;" Size="Size.Medium" Href="@Localizer[PageRoutes.AccountDefault]">
            <MudText>@Localizer["Settings"]</MudText>
        </DHButton>
        <MudText Typo="Typo.h2" Class="sr-only">@Localizer["Language selection"]</MudText>
        <LanguageToggle Style="margin-top: 20px;" @ref="_languageToggle" Size="Size.Medium" />
        <MudText Typo="Typo.h2" Class="sr-only">@Localizer["Sign in or out"]</MudText>
        <DHButton HtmlTag="button" Style="margin-top: 20px; text-wrap: nowrap"  OnClick="@HandleLogOut" Size="Size.Medium">
            <MudText>@Localizer["Sign out"]</MudText>
        </DHButton>
    </MudHidden>
</DatahubAuthView>

@code {


    private PortalUser _viewedUser;
    private bool _isViewAsAdmin;
    
    private LanguageToggle _languageToggle;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _viewedUser = await _userInformationService.GetCurrentPortalUserAsync();
        _isViewAsAdmin = !await _userInformationService.IsViewingAsGuest();
    }

    private async Task ToggleAdminMode()
    {
        _isViewAsAdmin = !_isViewAsAdmin;
        await _userInformationService.SetViewingAsGuest(!_isViewAsAdmin);
        _navigationManager.NavigateTo(_navigationManager.Uri, true);
    }

    private void HandleLogOut()
    {
        _navigationManager.NavigateTo("MicrosoftIdentity/Account/SignOut", true);
    }

    private async Task HandleLanguageToggle(MouseEventArgs arg)
    {
        await _languageToggle.ToggleLanguage();
    }

}