@using MudBlazor.Utilities
@using Datahub.Core.Components.Common

@inject NavigationManager _navManager

<nav class="sr-only">
    <ul>
        <li>
            <a href="@(_navManager.Uri+"#maincontent")">@Localizer["Skip to main content"]</a>
        </li>
        <li>
            <a href="@(_navManager.Uri+"#nav")">@Localizer["Skip to navigation"]</a>
        </li>
    </ul>
</nav>
<MudLink Href="@PageRoutes.Home" Underline="Underline.None">
    <MudStack Row AlignItems="AlignItems.Center">
        <MudText Typo="Typo.h6" Style="@_titleStyle">
            @Localizer["MainTitle"]
        </MudText>
    </MudStack>
</MudLink>

<MudSpacer/>
<MudStack Row>
    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.Home]>
        @Localizer["Home"]
    </DHButton>
    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.News]>
        @Localizer["News"]
    </DHButton>
    <DHButton Variant="Variant.Text" Href=@Localizer[PageRoutes.Explore]>
        @Localizer["Explore"]
    </DHButton>
    <DHButton Variant="Variant.Text" Href=@Localizer[@PageRoutes.ResourceDefault]>
        @Localizer["Learn"]
    </DHButton>
    <DHButton Variant="Variant.Text" Href=@Localizer[@PageRoutes.Help]>
        @Localizer["Support"]
    </DHButton>
</MudStack>
@*<MudSpacer/>
<SearchPopover/>*@

<MudSpacer/>
<TopBarProfileButton/>

@code {

    [Parameter] public string SupportFormUrl { get; set; }

    private string _titleStyle;

    private bool IsNotificationsListOpen { get; set; }

    private void ToggleNotificationsList()
    {
        IsNotificationsListOpen = !IsNotificationsListOpen;
    }

    private void ToggleHelp()
    {
        IsNotificationsListOpen = false;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _titleStyle = new StyleBuilder()
            .AddStyle("color", "var(--mud-palette-text-primary)")
            .Build();
    }

}