@using MudBlazor.Utilities
@using Datahub.Core.Components.Common

@inject NavigationManager _navManager

<nav class="sr-only">
    <ul>
        <li>
            <a href="@(_navManager.Uri + "#maincontent")">@Localizer["Skip to main content"]</a>
        </li>
        <li>
            <a href="@(_navManager.Uri + "#nav")">@Localizer["Skip to navigation"]</a>
        </li>
    </ul>
</nav>
<MudImage Src="/img/canada-fip.svg" Alt=@Localizer["Government of Canada Wordmark"] Style="max-height: 25px; float:left!important;"/>
<MudText Typo="Typo.h2" Style="@_titleStyle">
    @Localizer["MainTitle"]
</MudText>
<MudStack Row Style="margin-right: auto; width: 40%" Justify="Justify.Center" role="group">
    <h2 class="sr-only">@Localizer["Navigation menu"]</h2>
    <nav role="navigation">
        <ul style="list-style-type: none">
            <li style="display: inline-block; margin-inline: 5px">
                <DHButton Variant="Variant.Text" Href=@PageRoutes.Home>
                    @Localizer["Home"]
                </DHButton>
            </li>
            <li style="display: inline-block; margin-inline: 5px">
                <DHButton Variant="Variant.Text" Href=@PageRoutes.News>
                    @Localizer["News"]
                </DHButton>
            </li>
            <li style="display: inline-block; margin-inline: 5px">
                <DHButton Variant="Variant.Text" Href=@PageRoutes.Explore>
                    @Localizer["Explore"]
                </DHButton>
            </li>
            <li style="display: inline-block; margin-inline: 5px">
                <DHButton Variant="Variant.Text" Href=@PageRoutes.ResourceDefault>
                    @Localizer["Learn"]
                </DHButton>
            </li>
            <li style="display: inline-block; margin-inline: 5px">
                <DHButton Variant="Variant.Text" Href=@PageRoutes.Help>
                    @Localizer["Support"]
                </DHButton>
            </li>
        </ul>
    </nav>
</MudStack>
@*<MudSpacer/>
<SearchPopover/>*@

<TopBarProfileButton/>

@code {

    [Parameter] public string SupportFormUrl { get; set; }

    private string _titleStyle;

    private bool IsNotificationsListOpen { get; set; }

    private void ToggleNotificationsList()
    {
        IsNotificationsListOpen = !IsNotificationsListOpen;
    }

    private void ToggleHelp()
    {
        IsNotificationsListOpen = false;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _titleStyle = new StyleBuilder()
            .AddStyle("color", "var(--mud-palette-text-primary)")
            .AddStyle("font-size", "1.2rem")
            .AddStyle("margin-left", "3rem")
            .Build();
    }

}