@inject IUserInformationService _userInformationService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler _consentHandler
@inject UIControlsService _uiControlsService
@inject NavigationManager _navigationManager

@using Microsoft.Identity.Web
@using MudBlazor.Utilities
@using Datahub.Core.Components.Common
@using Datahub.Core.Model.Achievements
@using Datahub.Portal.Components.User

@if (_viewedUser is null)
{
    return;
}
<DatahubAuthView AuthLevel="DatahubAuthView.AuthLevels.Authenticated">
    <div class="reader-only"><p>@Localizer["Your profile"]</p></div>
    <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" FullWidth>
        <ActivatorContent>
            <MudButton Class="ml-2">
                <UserCard ViewedUserGraphId="@_viewedUser.GraphGuid" Size="@Size.Medium"/>
                <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" Size="@Size.Medium"/>
            </MudButton>
        </ActivatorContent>
        <ChildContent>
            <DatahubAuthView AuthLevel="DatahubAuthView.AuthLevels.DatahubAdminGuestView">
                <MudMenuItem>
                    <MudSwitch
                        T="bool"
                        Color="Color.Primary"
                        Checked="@_isViewAsAdmin"
                        Label="@Localizer["Admin Access Enabled"]"
                        CheckedChanged="ToggleAdminMode"/>
                </MudMenuItem>
                <MudDivider/>
            </DatahubAuthView>
            <MudMenuItem Href="/profile">@Localizer["Your profile"]</MudMenuItem>
            <MudMenuItem Href="/w">@Localizer["Your workspaces"]</MudMenuItem>
            <MudMenuItem Href="/profile/settings/notifications">@Localizer["Your notifications"]</MudMenuItem>
            <MudDivider/>
            <MudMenuItem Href="/profile/settings">@Localizer["Settings"]</MudMenuItem>
            <MudMenuItem>
                <LanguageToggle/>
            </MudMenuItem>
            <MudMenuItem Href="https://forms.office.com/pages/responsepage.aspx?id=lMFb0L-U1kquLh2w8uOPXhksOXzZ73RCp9fVTz4vTU5UNTc1U00yNVUxWVg4SkJGMFVHN1RCTTdQRS4u">@Localizer["Help"]</MudMenuItem>
            <MudDivider/>
            <MudMenuItem OnClick="HandleLogOut">
                @Localizer["Sign Out"]
            </MudMenuItem>
        </ChildContent>
    </MudMenu>
</DatahubAuthView>

@code {


    private PortalUser _viewedUser;
    private bool _isViewAsAdmin;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _viewedUser = await _userInformationService.GetCurrentPortalUserAsync();
            _isViewAsAdmin = !(await _userInformationService.IsViewingAsGuest());
        }
        catch (Exception ex)
        {
            _consentHandler.HandleException(ex);
        }
    }

    private async Task ToggleAdminMode(bool newValue)
    {
        await _userInformationService.SetViewingAsGuest(!newValue);
        _navigationManager.NavigateTo(_navigationManager.Uri, true);
    }
    
    private void HandleLogOut()
    {
        _navigationManager.NavigateTo("MicrosoftIdentity/Account/SignOut", true);
    }

}