
@implements IDisposable
@inject IDbContextFactory<DatahubProjectDBContext> DbFactory
@inject NavigationManager NavigationManager
@page "/licenses/{ProjectIDParam}"



<AeFlex Vertical id="indexFlex">

<h1>Power BI License Request Form for @_project.ProjectName (@_project.Project_Acronym_CD)</h1>

<p>
Power BI is a part of Microsoft office 365 suite. It is mainly used for creating dashboards and reports, and provides platform to collaborate with team members. 
</p>

<p>
There are three ways to access Power BI
<ol>
  <li>Power BI services (Web portal)</li>
  <li>Power BI desktop (free; available on NRCan Portal manager, see Appendix I for instructions)</li>
  <li>Power BI mobile app</li>
</ol>
</p>

<p>
NOTE: if you have PROTECTED B security level for your data, please contact CIOSB DataHub mailbox
</p>
</AeFlex>
@if(_request.Request_ID > 0)
{
    <h2>Editing request @_request.Request_ID</h2>
}
else
{
    <h2>Create new request</h2>
}

<EditForm Model="@_request" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Power BI desktop will be used to develop models**** and reports
            <InputCheckbox @bind-Value="_request.Desktop_Usage_Flag" />
        </label>

    </p>
    <p>
        <label>
            Contact Email:
            <InputText @bind-Value="_request.Contact_Email" />
        </label>
    </p>
    <p>
        <label>
            Contact Name:
            <InputText @bind-Value="_request.Contact_Name" />
        </label>
    </p>

    <button type="submit">Save and Edit Users</button>

</EditForm>

@code {
    [Parameter]
    public string ProjectIDParam { get; set; }

    public int ProjectID { get; set; }

    private Datahub_Project _project;

    private PBI_License_Request _request;
    private string SubmitLabel = "Add new";
    private const string EMAIL = "offline@nrcan-cnrcan.gc.ca";
    private DatahubProjectDBContext Context;
 
    private void SetFormEdit(PBI_License_Request project)
    {
        _request = project;
        SubmitLabel = "Save Changes";
    }


    protected override async Task OnInitializedAsync()
    {
        Context = DbFactory.CreateDbContext();
        ProjectID = Convert.ToInt32(ProjectIDParam);
        // load projects        
        _project = Context.Projects.Find(ProjectID);
        _request = Context.PowerBI_License_Requests.SingleOrDefault(r => r.Project == _project);
        if(_request == null)
		{
            _request = new PBI_License_Request() { Request_ID = 0, User_ID = EMAIL, Project = _project } ;
        }
    }

     private async Task HandleValidSubmit()
    {
        if(_request.Request_ID == 0)
        {
            _request.User_ID = EMAIL;
            Context.PowerBI_License_Requests.Add(_request);
        }
        await Context.SaveChangesAsync();
        NavigationManager.NavigateTo("LicenseUsers/" + _request.Request_ID);
    }

    public void Dispose() { Context.Dispose(); }

}
