@using System.Security.Claims;
@inject IUserInformationService UserInformationService
@inject IMyDataService ApiService
@inject IDataCreatorService DataCreatorService
@inject UIControlsService UI
@inject NavigationManager NavigationManager
@inject IPortalVersionService VersionService

@page "/debug"

@if (!isLoaded)
{
    <Spinner />
}
else
{
    <AeTypography Variant="h1">Debug</AeTypography>
    <AeTypography Variant="h2">User Information</AeTypography>
    <div>User ID: @userId</div>
    <div>Object ID: @oid</div>
    <div>User Name: @userName</div>
    <AeTypography Variant="h2">List of roles</AeTypography>
    @foreach (var role in roles)
    {
        <div>Role: @role.Value</div>
    }   

    <AeTypography Variant="h2">Portal Version</AeTypography>
    <div>
        <div>Release Version: @VersionService.ReleaseVersion</div>
        <div>Build ID: @VersionService.BuildId</div>
        <div>Deployment: @VersionService.Release</div>
        <div>Commit: <a href=@GetSourceVersionUrl(VersionService.Commit) target="_blank">@VersionService.Commit</a></div>
    </div>
}

@code
{
    public bool isLoaded { get; set; }

    private string userId;
    private string oid;
    private string userName;
    private List<Claim> roles;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserInformationService.GetAuthenticatedUser(true);
        userName = user.Identity.Name;
        userId = user.Claims.FirstOrDefault(c => c.Type == "uid")?.Value;
        oid = await UserInformationService.GetUserIdString();
        var userIdentity = (ClaimsIdentity)user.Identity;
        var claims = userIdentity.Claims;
        var roleClaimType = userIdentity.RoleClaimType;
        roles = claims.Where(c => c.Type == roleClaimType).ToList();
        isLoaded = true;
    }

    private string GetSourceVersionUrl(string commit) => $"https://github.com/NRCan/datahub-portal/commit/{commit}";
}