@inject IMyDataService ApiService
@inject NavigationManager NavigationManager
@inject IExternalSearchService ExternalSearchService
@inject IUserInformationService UserInfoService
@using global::Datahub.Core.Data.External.FGP
@using global::Datahub.Core.Data.External.OpenData

@page "/search/"
@page "/search/{searchtext}"

<AeFlex Vertical class="search-page">

<AeCard>
    <Header>
    <AeTypography Variant="h2">@Localizer["File Results"]</AeTypography>
    </Header>
    <ChildContent>
    <div class="search-page-file-grid">
        <FileGrid SearchText=@searchtext CurrentFolder="ApiService.SearchDataFolder" CanAddData="false" IsSearchResult="true"/>
    </div>
    </ChildContent>
</AeCard>


<AeCard>
    <Header>
    <AeTypography Variant="h2">@Localizer["Geo Canada Results"]</AeTypography>
    </Header>

    <ChildContent>
    @if (FgpItems.Count > 0)
    {
        <ul class="search-results">
            @foreach (var item in FgpItems)
            {
                <li>
                    <div class="search-result-title">
                        <a href=@(item.GetGeoCaUrl())>@item.Title</a>
                    </div>
                    <div class="search-result-subtitle">
                        @item.Organisation
                    </div>
                    <div class="search-result-description">
                        @* <p>@item.Description</p> *@
                        <p>@CutDescriptionShort(item.Description)</p>
                    </div>
                </li>
            }

            @if(SearchingFGP)
            {
                <li>
                    <Spinner />
                </li>
            }
            else if (MoreFGPResultsAvailable)
            {
                <li>
                    <AeButton OnClickEvent="@LoadMoreFGPResults" class="blue">@Localizer["More Results ..."]</AeButton>
                </li>
            }

        </ul>
    }
    else if (SearchingFGP)
    {
        <Spinner />
    }
    else
    {
        <h4>@Localizer["No results found"]</h4>
    }
    </ChildContent>
</AeCard>


<AeCard>
    <Header>
    <AeTypography Variant="h2">@Localizer["Open Data Results"]</AeTypography>    
    </Header>

    <ChildContent>

    @if (OpenDataItems.Count > 0)
    {
        <ul class="search-results">
            @foreach (var item in OpenDataItems)
            {
                <li>
                    <div class="search-result-title">
                        @if(item.UrlDecoded != null) 
                        {
                            <a href=@item.UrlDecoded.GetString(IsFrench)>@item.Title</a>
                        }
                        else 
                        {
                            <b>@item.Title</b>
                        }
                    </div>
                    <div class="search-result-subtitle">
                        @item.Organization.Title
                    </div>
                    <div class="search-result-description">
                        <p>@CutDescriptionShort(@item.Notes)</p>
                    </div>
                </li>
            }

            @if(SearchingOpenData)
            {
                <li>
                    <Spinner />
                </li>
            }
            else if (MoreOpenDataResultsAvailable)
            {
                <li>
                    <AeButton OnClickEvent="@LoadMoreOpenDataResults" class="blue">@Localizer["More Results ..."]</AeButton>
                </li>
            }

        </ul>
    }
    else if (SearchingOpenData)
    {
        <Spinner />
    }
    else
    {
        <h4>@Localizer["No results found"]</h4>
    }
    </ChildContent>
</AeCard>

</AeFlex>


@code
{
    private const int RESULTS_PER_PAGE = 5;
    private const int DESCRIPTION_CHARACTER_LIMIT = 500;
    
    [Parameter]
    public string searchtext { get; set; }

    private bool IsFrench { get; set; }

    private List<GeoCoreItem> FgpItems { get; set; } = new List<GeoCoreItem>();
    private List<OpenDataItem> OpenDataItems { get; set; } = new List<OpenDataItem>();

    private bool SearchingFGP { get; set; } = false;
    private bool MoreFGPResultsAvailable { get; set; } = true;
    private int MinFGPResult { get; set; } = 1;

    private bool SearchingOpenData { get; set; } = false;
    private bool MoreOpenDataResultsAvailable { get; set; } = true;
    private int MinOpenDataResult { get; set; } = 0;
  
    protected override async Task OnInitializedAsync()
    {
        IsFrench = await UserInfoService.IsFrench();

        if (string.IsNullOrWhiteSpace(searchtext))
        {
            NavigationManager.NavigateTo("data");
        }
    }

    private async Task<GeoCoreSearchResult> LoadFGPResults()
    {
        SearchingFGP = true;
        StateHasChanged();
        var maxResult = MinFGPResult + RESULTS_PER_PAGE - 1;
        var loadTask = ExternalSearchService.SearchFGPByKeyword(searchtext, min: MinFGPResult, max: maxResult);
        MinFGPResult = maxResult + 1;
        var result = await loadTask;
        MoreFGPResultsAvailable = result.Count >= RESULTS_PER_PAGE;
        SearchingFGP = false;
        return result;
    }

    private async Task<IList<OpenDataItem>> LoadOpenDataResults()
    {
        SearchingOpenData = true;
        StateHasChanged();

        var loadTask = ExternalSearchService.SearchOpenDataByKeyword(searchtext, min: MinOpenDataResult, rows: RESULTS_PER_PAGE);
        MinOpenDataResult += RESULTS_PER_PAGE;
        var result = await loadTask;
        MoreOpenDataResultsAvailable = result.Results.Count >= RESULTS_PER_PAGE;
        SearchingOpenData = false;
        
        return result.Results;
    }

    protected async Task LoadMoreFGPResults()
    {
        var moreResults = await LoadFGPResults();
        FgpItems.AddRange(moreResults.Items);
        this.InvokeAsync(async () => StateHasChanged());
    }

    protected async Task LoadMoreOpenDataResults()
    {
        var moreResults = await LoadOpenDataResults();
        OpenDataItems.AddRange(moreResults);
        this.InvokeAsync(async () => StateHasChanged());
    }

    private string CutDescriptionShort(string description)
    {
        if (description.Length <= DESCRIPTION_CHARACTER_LIMIT) 
            return description;

        var lastIndex = description.LastIndexOf(' ', DESCRIPTION_CHARACTER_LIMIT);
        return $"{description.Substring(0, lastIndex)} ...";
    }

    private void ResetExternalSearch()
    {
        SearchingFGP = false;
        MoreFGPResultsAvailable = true;
        MinFGPResult = 1;
        FgpItems = new List<GeoCoreItem>();

        SearchingOpenData = false;
        MoreOpenDataResultsAvailable = true;
        MinOpenDataResult = 0;
        OpenDataItems = new List<OpenDataItem>();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(searchtext))
        {
            ResetExternalSearch();

            LoadMoreFGPResults();
            LoadMoreOpenDataResults();
        }
    }
}
