@page "/share/opendata/{FileId}"
@inject NavigationManager NavManager
@inject IPublicDataFileService PublicFileService
@inject IMSGraphService GraphService

<AeTypography Variant="h1">@Localizer["OPENDATA-WIZARD.Page_Title"]</AeTypography>

<AeFlex>
    <AeFlex Vertical  style="margin-left: 2rem; width: 48%">

        @if (ShowMetadataEditor)
        {
            <AeCard>
                <AeTypography Variant="h2">@Localizer["OPENDATA-WIZARD.Metadata"]</AeTypography>
                <ObjectMetadataEditor ObjectId=@FileId @ref="_metadataEditor" />
                <AeFlex>
                    <AeButton OnClickEvent=@SaveMetadata Disabled=@savingData>@Localizer["OPENDATA-WIZARD.Save_button"]</AeButton>
                    <div>
                        @if (savingData)
                        {
                            <Spinner Small=@true/>
                        }
                    </div>
                </AeFlex>
                <div>&nbsp;</div>
            </AeCard>
        }
        else
        {
            <AeCard>
                <AeTypography Variant="h2">@Localizer["OPENDATA-WIZARD.Metadata"]</AeTypography>
                <AeButton OnClickEvent=@ManuallyShowMetadataEditor >@Localizer["OPENDATA-WIZARD.Edit_button"]</AeButton>
                <div>&nbsp;</div>
            </AeCard>
        }

        @if (ShowApprovalForm)
        {
            <AeCard>

                <Datahub.Portal.Pages.Forms.ShareWorkflow.ApprovalForm 
                    ApprovalFormId=@approvalFormId 
                    OnSubmitForm=@UpdateApprovalFormId 
                    User=@RequestingUser/>

                <div>&nbsp;</div>
            </AeCard>
        }
        else if (ApprovalFormSubmitted)
        {
            <AeCard>
                <AeTypography Variant="p">@Localizer["OPENDATA-WIZARD.Approval_filled_out"]</AeTypography>
                <AeFlex>
                    <a href=@GenerateApprovalFormPdfUrl class="ae button" target="_blank">@Localizer["OPENDATA-WIZARD.GeneratePDF_button"]</a>
                    <AeButton OnClickEvent=@ManuallyShowApprovalForm >@Localizer["OPENDATA-WIZARD.AmendApprovalForm_button"]</AeButton>
                </AeFlex>
            <div>&nbsp;</div>
            </AeCard>
        }
    </AeFlex>

    <div id="stepsDiv">
        <AeSteps T=@OpenDataSharingStatus
            CurrentStepState=@GetState
            StepItems=@steps
            StepTitle=@StepTitle
            StepMessage=@StepMessage
            PassedIcon=@checkIcon
            />

    @if (ShowSkipMetadata)
    {
        <AeCard>
            <AeTypography Variant="h3">@Localizer["OPENDATA-WIZARD.AcceptMetadata"]</AeTypography>
            <AeButton OnClickEvent=@AcceptMetadata Disabled=@savingData>@Localizer["OPENDATA-WIZARD.Continue_button"]</AeButton>
            <div>&nbsp;</div>
        </AeCard>
    }

    @if (ShowPublicationDatePanel)
    {
        <AeCard>
            <AeTypography Variant="h3">@Localizer["OPENDATA-WIZARD.PublicationDate"]</AeTypography>
            <p>@PublicationDateStr</p>
        </AeCard>
    }

    @if(ShowPublicUrl)
    {
        <AeCard>
            <AeTypography Variant="h3">@Localizer["OPENDATA-WIZARD.PublicUrl"]</AeTypography>
            <p><a href=@PublicUrl target="_blank">@PublicUrl</a></p>
        </AeCard>
    }


    @if (ShowSignedPdfPanel)
    {
        <AeCard>
            <AeTypography Variant="h3">@Localizer["OPENDATA-WIZARD.SubmitSignedPdf"]</AeTypography>
            <label>
                @Localizer["OPENDATA-WIZARD.EnterGcDocsUrl"]:
                @* <Microsoft.AspNetCore.Components.Forms.InputFile multiple></Microsoft.AspNetCore.Components.Forms.InputFile> *@
                <input @bind-value=@signedApprovalFormUrl />
            </label>
                <AeFlex>
                    <AeButton OnClickEvent=@UploadSignedPDF Disabled=@savingData >@Localizer["BUTTONS.Submit"]</AeButton>
                    <div>
                        @if (savingData)
                        {
                            <Spinner Small=@true/>
                        }
                    </div>
                </AeFlex>
            <div>&nbsp;</div>
        </AeCard>
    }

    </div>

</AeFlex>

<div>&nbsp;</div>


@code {

    [Parameter]
    public string FileId { get; set; }

    private Guid fileIdGuid;

    private ObjectMetadataEditor _metadataEditor;

    private ElementReference _metadataEditor2;

    private bool savingData = false;



    private List<OpenDataSharingStatus> steps = Enum.GetValues<OpenDataSharingStatus>().ToList();
    private OpenDataSharingStatus currentStep = OpenDataSharingStatus.EnterMetadata;
    private RenderFragment checkIcon = @<i class="fa fa-check"></i>;

    private Dictionary<OpenDataSharingStatus, (string, string)?> _stepInfo = new Dictionary<OpenDataSharingStatus, (string, string)?>();
    private Dictionary<OpenDataSharingStatus, AeSteps<OpenDataSharingStatus>.StepState> _stepStates = new Dictionary<OpenDataSharingStatus, AeSteps<OpenDataSharingStatus>.StepState>()
    {
        { OpenDataSharingStatus.EnterMetadata, AeSteps<OpenDataSharingStatus>.StepState.Queued },
        { OpenDataSharingStatus.OpenGovApprovalForm, AeSteps<OpenDataSharingStatus>.StepState.Queued },
        { OpenDataSharingStatus.SubmitSignedPDF, AeSteps<OpenDataSharingStatus>.StepState.Queued },
        { OpenDataSharingStatus.PendingApproval, AeSteps<OpenDataSharingStatus>.StepState.Queued },
        { OpenDataSharingStatus.PendingPublication, AeSteps<OpenDataSharingStatus>.StepState.Queued },
        { OpenDataSharingStatus.AccessOpenData, AeSteps<OpenDataSharingStatus>.StepState.Queued }            
    };

    private string StepTitle(OpenDataSharingStatus i) => _stepInfo.GetValueOrDefault(i)?.Item1;
    private string StepMessage(OpenDataSharingStatus i) => _stepInfo.GetValueOrDefault(i)?.Item2;
    private AeSteps<OpenDataSharingStatus>.StepState GetState(OpenDataSharingStatus i) => _stepStates[i];

    private bool ShowMetadataEditor => currentStep == OpenDataSharingStatus.EnterMetadata || editSavedMetadata;
    private bool ShowSkipMetadata => currentStep == OpenDataSharingStatus.EnterMetadata;
    private bool ShowApprovalForm => currentStep == OpenDataSharingStatus.OpenGovApprovalForm || editSubmittedApproval;
    private bool ApprovalFormSubmitted => _stepStates[OpenDataSharingStatus.OpenGovApprovalForm] == AeSteps<OpenDataSharingStatus>.StepState.Passed;
    private bool ShowSignedPdfPanel => currentStep == OpenDataSharingStatus.SubmitSignedPDF;
    private bool ShowPublicationDatePanel => currentStep == OpenDataSharingStatus.PendingPublication;
    private bool ShowPublicUrl => currentStep == OpenDataSharingStatus.AccessOpenData;

    private bool editSavedMetadata = false;
    private bool editSubmittedApproval = false;


    private string PublicationDateStr = string.Empty;
    private int approvalFormId = 0;
    private string GenerateApprovalFormPdfUrl => $"http://example.com/{approvalFormId}";
    private string signedApprovalFormUrl;

    private GraphUser RequestingUser;
    
    //TODO add domain
    private string PublicUrl => $"/Public/DownloadFile/{FileId}";

    private void UpdateCurrentStatus(OpenDataSharingStatus step, bool passed = false)
    {
        editSavedMetadata = false;
        editSubmittedApproval = false;

        currentStep = step;
        _stepStates[step] = passed? AeSteps<OpenDataSharingStatus>.StepState.Passed : AeSteps<OpenDataSharingStatus>.StepState.Running;

        foreach (var stepv in Enum.GetValues<OpenDataSharingStatus>())
        {
            if (stepv < step)
            {
                _stepStates[stepv] = AeSteps<OpenDataSharingStatus>.StepState.Passed;
            }
            else if (stepv > step)
            {
                _stepStates[stepv] = AeSteps<OpenDataSharingStatus>.StepState.Queued;
            }
        }
    }

    private async Task ManuallyShowMetadataEditor()
    {
        editSavedMetadata = true;
    }

    private async Task ManuallyShowApprovalForm()
    {
        editSubmittedApproval = true;
    }

    private async Task UpdateApprovalFormId(int id)
    {
        savingData = true;
        approvalFormId = id;
        await PublicFileService.UpdateOpenDataApprovalFormId(fileIdGuid, id);
        savingData = false;
        if (currentStep == OpenDataSharingStatus.OpenGovApprovalForm)
        {
            UpdateCurrentStatus(OpenDataSharingStatus.SubmitSignedPDF);
        }
        else
        {
            editSubmittedApproval = false;
        }
    }

    private async Task UploadSignedPDF()
    {
        savingData = true;

        var sdfdsf = signedApprovalFormUrl;

        await PublicFileService.UpdateOpenDataSignedApprovalFormUrl(fileIdGuid, signedApprovalFormUrl);

        savingData = false;
        UpdateCurrentStatus(OpenDataSharingStatus.PendingApproval);
    }

    private async Task SaveMetadata()
    {
        savingData = true;

        var t = _metadataEditor.SaveChanges();

        var uri = NavManager.Uri;
        if (uri.IndexOf('#') >= 0)
        {
            uri = uri.Substring(0, uri.IndexOf('#'));
        }

        await t;
        savingData = false;
        NavManager.NavigateTo($"{uri}#stepsDiv");
        if (currentStep == OpenDataSharingStatus.EnterMetadata)
        {
            UpdateCurrentStatus(OpenDataSharingStatus.OpenGovApprovalForm);
        }
        else
        {
            editSavedMetadata = false;
        }
    }

    private async Task AcceptMetadata()
    {
        UpdateCurrentStatus(OpenDataSharingStatus.OpenGovApprovalForm);
    }

    protected override async Task OnInitializedAsync()
    {
        if (!Guid.TryParse(FileId, out fileIdGuid))
        {
            NavManager.NavigateTo("/");
        }

        var loadTask = PublicFileService.LoadOpenDataSharedFileInfo(fileIdGuid);

        _stepInfo = new();
        foreach(var step in steps)
        {
            var stepName = step.ToString();
            var prefix = SharedDataFile.OPEN_DATA_SHARING_STATUS_LOCALIZATION_PREFIX;
            var keys = ($"{prefix}.{stepName}.Title", $"{prefix}.{stepName}.Description");
            _stepInfo.Add(step, (Localizer[keys.Item1], Localizer[keys.Item2]));
        }

        var sharedFileInfo = await loadTask;

        approvalFormId = sharedFileInfo.ApprovalForm_ID ?? 0;
        signedApprovalFormUrl = sharedFileInfo.SignedApprovalForm_URL;
        PublicationDateStr = sharedFileInfo.PublicationDate_DT?.ToShortDateString();
        RequestingUser = GraphService.GetUser(sharedFileInfo.RequestingUser_ID);

        var status = sharedFileInfo.GetOpenDataSharingStatus();
        UpdateCurrentStatus(status, status == OpenDataSharingStatus.AccessOpenData);
    }

}
