@page "/tools"
@using Datahub.Core.Modules
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@inject ModuleManager ModuleManager

<div style="padding: 2rem;padding-right: 2rem">

    <AeFlex Vertical>
        <h1>@Localizer["DataHub Tools"]</h1>
    </AeFlex>    
<div class="ae flex wrap">

    <AeCard class="facard1" CardPosition="AeCard.CardStyle.Horizontal">
                <Header>
                    <div style="width:180px">                        
                        <AeIcon class="fad fa-truck-loading fa-xs"></AeIcon>
                    </div>
                </Header>
                <ChildContent>                   
                        <DHLink Variant="h3" LinkType="DatahubLinkType.Onboarding">@Localizer["Onboarding Form"]</DHLink>
                </ChildContent>
                <Footer>
                    <AeFlex Vertical>
                        <AeTypography Variant="warning">@Localizer["Have a new project? Start your collaboration with us by completing the Onboarding Form"]</AeTypography>                   
                    </AeFlex>
                </Footer>
            </AeCard>

            <AeCard class="facard1" CardPosition="AeCard.CardStyle.Horizontal">
                <Header>
                     <div class="indigo" style="width:120px">
                        <AeIcon class="fad fa-hdd card-icon fa-xs" />
                    </div>
                </Header>
                <ChildContent>
                    <DHLink Variant="h3" LinkType="DatahubLinkType.StorageCostEstimator">@Localizer["Storage Cost Estimator"]</DHLink>
                </ChildContent>
                <Footer>
                    <AeFlex Vertical>
                        <AeTypography Variant="warning">@Localizer["Looking for storage costs? Use the Storage Cost Estimator to estimate your storage needs"]</AeTypography>
                    </AeFlex>
                </Footer>
            </AeCard>

            <AeCard class="facard1" CardPosition="AeCard.CardStyle.Horizontal">
                <Header>
                     <div class="indigo" style="width:120px">
                        <AeIcon class="fad fa-microchip card-icon fa-xs" />
                    </div>
                </Header>
                <ChildContent>
                    <DHLink Variant="h3" LinkType="DatahubLinkType.ComputeCostEstimator">@Localizer["Compute Cost Estimator"]</DHLink>
                </ChildContent>
                <Footer>
                    <AeFlex Vertical>
                        <AeTypography Variant="warning">@Localizer["Looking for compute costs? Use the Compute Cost Estimator to estimate your compute needs"]</AeTypography>
                    </AeFlex>
                </Footer>
            </AeCard>


            <AeCard class="facard1" CardPosition="AeCard.CardStyle.Horizontal">
                <Header>
                     <div class="purple" style="width:120px">
                        <AeIcon class="fad fa-folder-plus card-icon fa-xs" />
                    </div>
                </Header>
                <ChildContent>                   
                        <NavLink class="ae typography h3 a" href="/data">@Localizer["My Files"]</NavLink>
                </ChildContent>
                <Footer>
                    <AeFlex Vertical>
                        <AeTypography Variant="warning">@Localizer["User area for file storage and sharing"]</AeTypography>     
                    </AeFlex>
                </Footer>
            </AeCard>

            @if (ModuleManager.IsEnabled("M365FormsModule"))
            {
            <AeCard class="facard1" CardPosition="AeCard.CardStyle.Horizontal">
                <Header>
                     <div class="purple" style="width:120px">
                        <AeIcon class="fad fa-folder-plus card-icon fa-xs" />
                    </div>
                </Header>
                <ChildContent>                                           
                        <DHLink Variant="h3" LinkType="DatahubLinkType.M365Form">@Localizer["M365 teams Application"]</DHLink>
                </ChildContent>
                <Footer>
                    <AeFlex Vertical>
                        <AeTypography Variant="warning">@Localizer["Application to create a m365 team"]</AeTypography>     
                    </AeFlex>
                </Footer>
            </AeCard>
            }

            @if (CatalogReport.Exists())
            {
            <AeCard class="facard1" CardPosition="AeCard.CardStyle.Horizontal">
                <Header>
                     <div class="purple" style="width:120px">
                        <AeIcon class="fad fa-album-collection card-icon fa-xs" />
                    </div>
                </Header>
                <ChildContent>                                           
                        <DHLink Variant="h3" LinkType="DatahubLinkType.PowerBI" PBIReportId="@(CatalogReport.GetValue<string>("Report"))" PBIWorkspaceId="@(CatalogReport.GetValue<string>("Workspace"))">@Localizer["Data Catalog Report"]</DHLink>
                </ChildContent>
                <Footer>
                    <AeFlex Vertical>
                        <AeTypography Variant="warning">@Localizer["Data Cataloging status for PowerBI, Tableau and files"]</AeTypography>     
                    </AeFlex>
                </Footer>
            </AeCard>
            }

    </div>
</div>

@code {

    private IConfigurationSection CatalogReport;
    
    protected override async Task OnInitializedAsync()
    {
        CatalogReport = configuration.GetSection("PowerBI:CatalogReport");
    }
}
