@using Datahub.Application.Services.ReverseProxy
@inject IReverseProxyConfigService ReverseProxyConfigService

<MudText Typo="Typo.h2" Class="mt-6">
    @Localizer["Web Application Information"]
</MudText>
<MudSimpleTable Dense Hover Striped Outlined>
    <thead>
    <tr>
        <th><strong>@Localizer["Property"]</strong></th>
        <th><strong>@Localizer["Value"]</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            @Localizer["Share link"]
        </td>
        <td>
            <MudLink Href="@shareLink" Target="_blank">@shareLink</MudLink>
        </td>
    </tr>
    <tr>
        <td>
            @Localizer["Proxy URL for development"]
        </td>
        <td>
            <MudLink Href="@_url" Target="_blank" >@_url</MudLink>
        </td>
    </tr>
    <tr>
        <td>
            @Localizer["Web App Id"]
        </td>
        <td>
            <code>@WebAppId</code>
        </td>
    </tr>
    <tr>
        <td>
            @Localizer["Framework"]
        </td>
        <td>
            <code>@Framework</code>
        </td>
    </tr>
    <tr>
        <td>
            @Localizer["Git Repo"]
        </td>
        <td>
            <MudLink Href="@GitRepo">@GitRepo</MudLink>
        </td>
    </tr>
    <tr>
        <td>
            @Localizer["Path to compose"]
        </td>
        <td>
            <code>@ComposePath</code>
        </td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {
    [Parameter] public string WebAppHost { get; set; }

    [Parameter] public string WebAppId { get; set; }

    [Parameter] public string Framework { get; set; }

    [Parameter] public string GitRepo { get; set; }

    [Parameter] public string ComposePath { get; set; }
    [Parameter] public string WorkspaceAcronym { get; set; }

    private string shareLink = null!;

    private string _url;

    protected override void OnParametersSet()
    {
        RefreshUrl();
        shareLink = PageRoutes.WorkspaceWebAppShare.Replace("{WorkspaceAcronymParam}", WorkspaceAcronym);
    }

    public void RefreshUrl()
    {
        _url = ReverseProxyConfigService.BuildWebAppURL(WorkspaceAcronym);
    }

}