@*FileExplorer.razor*@
@using Datahub.Core.Components.FileUpload

@inject IUserInformationService _userInformationService
@inject IDbContextFactory<DatahubProjectDBContext> _dbFactoryProject
@inject DataRetrievalService _dataRetrievalService
@inject MyDataService _apiService


<div class="file-explorer-layout">
    <CascadingValue Value="_user" Name="GraphUser">
        <Heading
            SetCurrentFolder="SetCurrentFolder"
            OnFileDelete="HandleFileDelete"
            OnNewFolder="HandleNewFolder"
            CurrentFolder="@_currentFolder"
            SelectedItem="@_selectedItem"
            VirtualDirectory="_virtualDirectory"/>
    </CascadingValue>
    <div class="file-list">
        <AeSearchInput 
            id="search"
            SearchIconFAClass="fas fa-search"
            OnInputChangeWithLastKey=@HandleSearch 
            style="margin: 0rem 1rem;"
        />
        <div class="file-list-header">
            <AeTypography>@Localizer["Name"]</AeTypography>
            <AeTypography>@Localizer["Size"]</AeTypography>
            <AeTypography>@Localizer["Last Modified"]</AeTypography>
            <i class="fas fa-sort-alpha-down"></i>
        </div>

        @if (_loading)
        {
            <LoadingFileList/>
        }
        else
        {
            <UploadSnackbar UploadingFiles="_uploadingFiles">
                <DropZone OnFilesDrop="UploadFiles">
                    @foreach (var (folderName, _) in _virtualDirectory
                        .Where(f => f.Key != "/"
                                    && (GetDirectoryName(f.Key)?.Equals(_currentFolder) ?? false)))
                    {
                        <FileItem
                            Name="@GetFileName(folderName)"
                            Highlighted="_selectedItem == folderName"
                            Folder
                            @onclick="() => _selectedItem = folderName"
                            @ondblclick="() => SetCurrentFolder(folderName)">
                            <Icon>
                                <i class="fas fa-folder"></i>
                            </Icon>
                        </FileItem>
                    }
                    @foreach (var file in _searchResults.OrderBy(f => f.name))
                    {
                        <FileItem
                            Name="@GetFileName(file.name)"
                            Modified="@file.Modified"
                            Size="@file.filesize"
                            @onclick="() => _selectedItem = file.name"
                            Highlighted="_selectedItem == file.name">
                            <Icon>
                                <i class="@DatahubTools.GetFileTypeIcon(file.fileformat)"></i>
                            </Icon>
                        </FileItem>
                    }
                </DropZone>
            </UploadSnackbar>
        }
    </div>
    <div class="item-details">
        <div class="details-sticky">
            <div class="details-container">
                @if (_loading || _virtualDirectory.ContainsKey(_selectedItem))
                {
                    <StorageProperties DisplayName="@GetFileName(_selectedItem)"/>
                }
                else
                {
                    var file = _virtualDirectory[_currentFolder]
                        .FirstOrDefault(f => f.name.Equals(_selectedItem, StringComparison.OrdinalIgnoreCase));
                    if (file is not null)
                    {
                        <FileProperties File=@file Readonly="!OwnsFile(file)" />
                    }
                }
            </div>
        </div>
    </div>

</div>

@code {

    [CascadingParameter(Name = "ProjectAcronym")]
    public string ProjectAcronym { get; set; }

    private Microsoft.Graph.User _user;
    private string _userId;


    private bool _loading = true;
    private List<FileMetaData> _uploadingFiles;

    private readonly string _root = "/";
    private string _currentFolder = "/";
    private string _selectedItem = "/";

    private string _lastSearch;
    private QueryThrottler<string> _searchThrottler;
    private List<FileMetaData> _searchResults = new();

    private Dictionary<string, List<FileMetaData>> _virtualDirectory = new()
    {
        {"/", new List<FileMetaData>()}
    };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await using var projectContext = await _dbFactoryProject.CreateDbContextAsync();

        _userId = await _userInformationService.GetUserIdString();
        _user = await _userInformationService.GetUserAsync();

        _uploadingFiles = new List<FileMetaData>();
        _virtualDirectory = (await _dataRetrievalService.GetStorageBlobFiles(ProjectAcronym, DataRetrievalService.DEFAULT_CONTAINER_NAME, _user))
            .GroupBy(f => $"/{GetDirectoryName(f.filename)}")
            .ToDictionary(g => g.Key,
                g => g.ToList());

        if (!_virtualDirectory.ContainsKey("/"))
        {
            _virtualDirectory.Add("/", new List<FileMetaData>());
        }

        SetupEmptyFolders();

        _searchThrottler = new(TimeSpan.FromSeconds(0.5), ThrottleSearch);
        ResetSearch();

        _loading = false;
    }

    private void SetupEmptyFolders()
    {
        var emptyFolders = new HashSet<string>();
        foreach (var path in _virtualDirectory.Keys)
        {
            var remainingPath = path;
            while (remainingPath != "/")
            {
                remainingPath = remainingPath.TrimEnd('/');
                remainingPath = remainingPath[..(remainingPath.LastIndexOf("/", StringComparison.Ordinal) + 1)];

                if (!_virtualDirectory.ContainsKey(remainingPath))
                {
                    emptyFolders.Add(remainingPath);
                }
            }
        }

        foreach (var folder in emptyFolders)
        {
            _virtualDirectory.Add(folder, new List<FileMetaData>());
        }
    }

    private string GetDirectoryName(string path)
    {
        if(string.IsNullOrWhiteSpace(path) || !path.Contains("/"))
            return string.Empty;

        var lastIndex = path.TrimEnd('/').LastIndexOf("/", StringComparison.Ordinal);
        return lastIndex == -1 ? "/" : path[..lastIndex] + "/";
    }

    private string GetFileName(string path)
    {
        if (string.IsNullOrWhiteSpace(path))
            return string.Empty;

        var lastIndex = path.TrimEnd('/').LastIndexOf("/", StringComparison.Ordinal);
        return lastIndex == -1 ? path : path[(lastIndex + 1)..];
    }

    private void SetCurrentFolder(string folderName)
    {
        _currentFolder = folderName;
        _selectedItem = folderName;
    }

    private void HandleFileDelete(string filename)
    {
        _virtualDirectory[_currentFolder].RemoveAll(f => f.name.Equals(filename, StringComparison.OrdinalIgnoreCase));
        SetCurrentFolder(_currentFolder);
    }

    private void HandleNewFolder(string newFolderName)
    {
        if (_virtualDirectory.ContainsKey(newFolderName))
            return;

        newFolderName = newFolderName
            .Replace("/", "")
            .Trim();

        _virtualDirectory.Add($"{_currentFolder}{newFolderName}/", new List<FileMetaData>());
    }

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var browserFile in e.GetMultipleFiles())
        {
            await UploadFile(browserFile);
        }
    }

    private async Task UploadFile(IBrowserFile browserFile)
    {
        if (browserFile == null)
            return;

        var fileMetadata = new FileMetaData
        {
            folderpath = _currentFolder,
            filename = (_currentFolder + browserFile.Name).TrimStart('/'),
            filesize = browserFile.Size.ToString(),
            uploadStatus = FileUploadStatus.SelectedToUpload,
            BrowserFile = browserFile
        };

        await _apiService.PopulateOtherMetadata(fileMetadata);
        _uploadingFiles.Add(fileMetadata);

        _ = InvokeAsync(async () =>
        {
            await _apiService.UploadGen2File(fileMetadata, ProjectAcronym.ToLower(), (uploadedBytes) =>
            {
                fileMetadata.uploadedBytes = uploadedBytes;
                StateHasChanged();
            });

            _uploadingFiles.Remove(fileMetadata);
            _virtualDirectory[_currentFolder].RemoveAll(f => f.name == fileMetadata.name);
            _virtualDirectory[_currentFolder].Add(fileMetadata);

            StateHasChanged();
        });

        StateHasChanged();
    }

    private bool OwnsFile(FileMetaData file) => (file?.ownedby ?? "").Equals(_userId, StringComparison.InvariantCulture);

    private async void HandleSearch(string newValue, KeyboardEventArgs ev)
    {
        await _searchThrottler.SetQuery(newValue);
    }

    private void ResetSearch()
    {
        _lastSearch = null;
        _searchResults = new(_virtualDirectory[_currentFolder]);
    }

    private async Task ThrottleSearch(string searchText)
    {
        if (_lastSearch != searchText)
        {
            _searchResults.Clear();
            _lastSearch = searchText;
            _selectedItem = string.Empty;
            try
            {
                var all = string.IsNullOrEmpty(searchText);
                var files = _virtualDirectory[_currentFolder];
                _searchResults = new(files.Where(c => all || c.name.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)));
            }
            finally
            {
                await InvokeAsync(StateHasChanged);
            }
        }            
    }
}