@*FileProperties.razor*@
@using Datahub.Core.Components.Code
@using Datahub.Metadata.Model

@inject DataRetrievalService _dataRetrievalService
@inject CommonAzureServices _commonAzureServices;

@if (File != null)
{
    <div class="storage-properties">
        <div class="title-container">
            <i class="@DatahubTools.GetFileTypeIcon(File.fileformat)"></i>
            <AeTypography Variant="h3" class="details-title-text">
                @Path.GetFileName(File.name)
            </AeTypography>
        </div>

        <div class="access-container">
            <AeTypography Variant="h4">Who has access</AeTypography>
            <span class="circle-item">
                <ProfileCircle FullName="@ProjectAcronym"/>
                <AeTypography>@ProjectAcronym</AeTypography>
            </span>
        </div>

        <div class="properties">
            <AeTypography class="properties-title" Variant="h4">Storage Properties</AeTypography>
            @foreach (var (key, value) in _properties)
            {
                <AeTypography class="label">@Localizer["ITEM-DETAILS-PAGE." + key]</AeTypography>
                <AeTypography class="text">@value</AeTypography>
            }

            <AeTypography class="label">@Localizer["Power BI URL"]</AeTypography>
            <InlineCodeWithCopy>@_powerBiPasteText</InlineCodeWithCopy>

            <AeTypography class="label">@Localizer["File URL"]</AeTypography>
            <InlineCodeWithCopy>@_fileLinkUrl</InlineCodeWithCopy>

        </div>

        <div>
            <AeTypography class="properties-title" Variant="h4">Metadata</AeTypography>

            <ObjectMetadataEditor 
                @key=@File.fileid 
                ObjectId=@File.fileid 
                Name=@File.filename
                Location=@ProjectAcronym
                SecurityClass=@File.securityclass
                SaveButtonLabel=@Localizer["OPENDATA-WIZARD.Save_button"] 
                ValidateRequired=true
                ProfileName="catalog"
                ObjectType=@MetadataObjectType.File
                UpdateCatalog=@Readonly
                Preview=@Readonly
            />
        </div>
    </div>
}

@code {

    [CascadingParameter(Name = "ProjectAcronym")]
    public string ProjectAcronym { get; set; }

    [Parameter]
    public FileMetaData File { get; set; }

    [Parameter]
    public bool Readonly { get; set; }

    private List<(string, string)> _properties;
    private string _powerBiPasteText;
    private string _fileLinkUrl;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (File == null)
            return;

        _properties = File.GetMetadataProperties()
            .Where(p => p.isVisible)
            .Select(p => (p.key, Value: File.GetMetadataPropertyValue(p.key)))
            .ToList();

        _powerBiPasteText = $"abfs://{_commonAzureServices.FileSystemName}@{_commonAzureServices.StorageAccountName}.dfs.core.windows.net/{File.folderpath}/{File.filename}";
        _fileLinkUrl = $"https://{_commonAzureServices.StorageAccountName}.blob.core.windows.net/datahub/{File.folderpath}/{File.filename}";
    }

}

