@inject IDataRemovalService _dataRemovalService
@inject DataRetrievalService _dataRetrievalService
@inject IDataUpdatingService _dataUpdatingService
@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime

<div class="heading">
    <AeTypography Variant="h1">@Localizer["Storage Explorer"]</AeTypography>
    <div class="breadcrumbs">
        <AeButton class="light" @onclick="@(async () => await SetCurrentFolder.InvokeAsync("/"))">@Localizer["root"]</AeButton>
        @foreach (var folder in CurrentFolder.Split("/").Where(s => !string.IsNullOrWhiteSpace(s)))
        {
            <i class="fas fa-chevron-right"></i>
            <AeButton class="light" @onclick="@(async () => await BreadcrumbClicked(folder))">@folder</AeButton>
        }
    </div>
    <div class="actions">
        <AeButton class="button-tool" onclick="document.querySelector('.file-list .dropzone-container input').click();">
            <i class="fas fa-upload"></i>
            @Localizer["Upload"]
        </AeButton>

        <AeButton class="button-tool" @onclick="HandleDownload" Disabled="!_isExistingFile">
            <i class="fas fa-download"></i>
            @Localizer["Download"]
        </AeButton>

        <AeButton class="button-tool" @onclick="HandleRename" Disabled="!_ownsSelectedFile">
            <i class="fas fa-edit"></i>
            @Localizer["Rename"]
        </AeButton>

        <span class="tool-divider"></span>

        <AeButton class="button-tool" @onclick="HandleShare" Disabled="!_ownsSelectedFile">
            <i class="fas fa-share-square"></i>
            @Localizer["Share"]
        </AeButton>

        <span class="tool-divider"></span>

        <AeButton class="button-tool" @onclick="HandleDelete" Disabled="!_ownsSelectedFile">
            <i class="fas fa-trash-alt"></i>
            @Localizer["Delete"]
        </AeButton>

        <span class="tool-divider"></span>

        <AeButton class="button-tool" @onclick="HandleNewFolder">
            <i class="fas fa-folder-plus"></i>
            @Localizer["New Folder"]
        </AeButton>
    </div>
</div>

@code {

    [CascadingParameter(Name = "ProjectAcronym")]
    public string ProjectAcronym { get; set; }

    [CascadingParameter(Name = "GraphUser")]
    public Microsoft.Graph.User GraphUser { get; set; }

    [Parameter]
    public string CurrentFolder { get; set; }

    [Parameter]
    public string SelectedItem { get; set; }

    [Parameter]
    public List<string> Folders { get; set; }

    [Parameter]
    public List<FileMetaData> Files { get; set; }

    [Parameter]
    public EventCallback<string> SetCurrentFolder { get; set; }

    [Parameter]
    public EventCallback<string> OnFileDelete { get; set; }

    [Parameter]
    public EventCallback<string> OnNewFolder { get; set; }

    private IJSObjectReference _module;

    private FileMetaData _selectedFile;
    private bool _ownsSelectedFile;
    private bool _isExistingFile;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        _module = await _jsRuntime.InvokeAsync<IJSObjectReference>("import",
            "./Pages/Project/FileExplorer/Heading.razor.js");
    }

    protected override void OnParametersSet()
    {
        _isExistingFile = !Folders.Contains(SelectedItem);
        _selectedFile = Files?.FirstOrDefault(f => f.name == SelectedItem);
        
        // TODO: This is a hack until SSC properly sets the owner of a file
        if (Environment.GetEnvironmentVariable("HostingProfile") == "ssc")
        {
            _ownsSelectedFile = _selectedFile != null;
        }
        else
        {
            _ownsSelectedFile = _selectedFile?.ownedby.Equals(GraphUser.Id, StringComparison.InvariantCulture) == true;
        }
    }

    private async Task BreadcrumbClicked(string breadcrumb)
    {
        var index = CurrentFolder.IndexOf(breadcrumb, StringComparison.OrdinalIgnoreCase);
        await SetCurrentFolder.InvokeAsync(CurrentFolder[..(index + breadcrumb.Length)] + "/");
    }

    private async Task HandleDownload()
    {
        if (_selectedFile is not null)
        {
            var uri = await _dataRetrievalService.DownloadFile(DataRetrievalService.DEFAULT_CONTAINER_NAME, _selectedFile, ProjectAcronym);
            await _jsRuntime.InvokeVoidAsync("open", uri.ToString(), "_blank");
        }
    }

    private void HandleShare()
    {
        if (_selectedFile is null)
            return;

        var sb = new System.Text.StringBuilder();
        sb.Append("/sharingworkflow/");
        sb.Append(_selectedFile.fileid);
        sb.Append("?filename=");
        sb.Append(_selectedFile.filename);
        if (!string.IsNullOrWhiteSpace(ProjectAcronym))
        {
            sb.Append("&project=");
            sb.Append(ProjectAcronym);
        }
        else
        {
            sb.Append("&folderpath=");
            sb.Append(_selectedFile.folderpath);
        }

        _navigationManager.NavigateTo(sb.ToString());
    }

    private async Task HandleDelete()
    {
        if (_selectedFile is not null && _ownsSelectedFile)
        {
            var success = await _dataRemovalService.DeleteStorageBlob(_selectedFile, ProjectAcronym, GraphUser);
            if (success)
            {
                await OnFileDelete.InvokeAsync(_selectedFile.name);
            }
        }
    }

    private async Task HandleRename()
    {
        if (_selectedFile is not null && _ownsSelectedFile)
        {
            var newName = await _jsRuntime.InvokeAsync<string>("prompt", "Enter new name", _selectedFile.filename);
            newName = newName.Replace("/", "").Trim();
            
            if (!string.IsNullOrWhiteSpace(newName))
            {
                await _dataUpdatingService.RenameStorageBlob(_selectedFile, newName, ProjectAcronym, GraphUser);
            }
        }
    }

    private async Task HandleNewFolder()
    {
        var newFolderName = await _module.InvokeAsync<string>("promptForNewFolderName");
        if (!string.IsNullOrWhiteSpace(newFolderName))
        {
            await OnNewFolder.InvokeAsync(newFolderName.Trim());
        }
    }

}