@using Datahub.Metadata.Model
@inject IPowerBiDataService _powerBiDataService
@inject TranslationService _translationService
@inject IMetadataBrokerService _metadataService

@if (_report == null)
{
    <AeCard>
        <Header>
            <AeTypography Variant="h3">Loading Report</AeTypography>
        </Header>
        <ChildContent>
            <Spinner />
        </ChildContent>
    </AeCard>
}
else
{
    <AeCard>
        <Header>
            <AeTypography Variant="h3">@Localizer[$"{LOCALIZATION_PREFIX}.Report"]: @_report.Report_Name</AeTypography>
        </Header>
        <ChildContent>
        
            <AeTypography Variant="h4">@Localizer[$"{LOCALIZATION_PREFIX}.Metadata"]</AeTypography>
            @if (_reportMetadata != null)
            {
                <label>
                    <AeFlex Vertical>
                        <AeTypography><strong><span>@Localizer[$"{LOCALIZATION_PREFIX}.SecurityClassification"]</span></strong></AeTypography>
                        <select @bind=@_reportMetadata.SecurityClass class="ae input">
                            @foreach(var sec in SecurityClassification.SECURITY_CLASSES)
                            {
                                <option value=@sec>@Localizer[@sec]</option>
                            }
                        </select>
                    </AeFlex>
                </label>
            }

            <ObjectMetadataEditor 
                @ref=@_reportMetadata
                ObjectId=@PowerBiReportId.ToString()
                Location="PowerBI"
                ProfileName="catalog"
                ObjectType=@Metadata.Model.MetadataObjectType.PowerBIReport
                UpdateCatalog=@_includeInCatalog
                ValidateRequired=@false
                Name=@_report.Report_Name
                HideSaveButton
                CatalogLanguage=@_catalogObjectLanguage
                OnValuesChanged=@(() => StateHasChanged())
                DefaultMetadataId=@ProjectAcronym
                OnNewMetadataCreated=@AutoFillNewMetadataFields
                OnExistingMetadataLoaded=@DetectIfCurrentItemIsInCatalog
            />

            <div>
                <label>
                    <input type="checkbox" @bind=@_includeInCatalog />
                    <AeTypography style="display: inline-block;"><strong><span>@Localizer[$"{LOCALIZATION_PREFIX}.IncludeInCatalog"]</span></strong></AeTypography>
                </label>
            </div>

            <div style="margin-top: 0.5rem; width: 100%">
                <AeTypography><strong><span>@Localizer[$"Language"]</span></strong></AeTypography>
                <select class="ae input" @bind="_catalogObjectLanguage" disabled=@NotIncludedCurrentItemInCatalog>
                    <option value=@CatalogObjectLanguage.Bilingual>@Localizer["Bilingual"]</option>
                    <option value=@CatalogObjectLanguage.English>@Localizer["English"]</option> 
                    <option value=@CatalogObjectLanguage.French>@Localizer["French"]</option> 
                </select>
            </div>                                

            @if (_siblingReports.Count > 0)
            {
                <div style="margin-top: 0.5rem; width: 100%">
                    <AeFlex Vertical>
                        <AeTypography><strong><span>@Localizer[$"Grouped with"]</span></strong></AeTypography>
                        <select @bind="_groupWithId" class="ae input" disabled=@NotIncludedCurrentItemInCatalog>
                            <option value=""></option>
                            @foreach(var report in _siblingReports)
                            {
                                <option value="@report.Report_ID.ToString()">@report.Report_Name</option>
                            }
                        </select>
                    </AeFlex>
                </div>
            }

            <div style="margin-top: 1rem;">
                <AeButton OnClickEvent=@SaveReport Disabled=@SaveReportDisabled>@Localizer[$"BUTTONS.Save"]</AeButton>
                <AeButton class="light" OnClickEvent=@CancelEditing>@Localizer[$"BUTTONS.Cancel"]</AeButton>
                <SuccessIndicator @bind-IsLoading=@_isSavingReport @ref=@_saveReportInd />
            </div>
        </ChildContent>
    </AeCard>
}



@code {

    private static string LOCALIZATION_PREFIX = "PowerBi";

    [Parameter]
    public Guid PowerBiReportId { get; set; }

    [Parameter]
    public string ProjectAcronym { get; set; }

    [Parameter]
    public EventCallback<bool> OnCloseDialog { get; set; }

    private PowerBi_Report _report;
    private List<PowerBi_Report> _siblingReports;
    private string _groupWithId;

    private ObjectMetadataEditor _reportMetadata;

    private bool _isSavingReport;
    private bool SaveReportDisabled => _isSavingReport || (_reportMetadata?.SaveDisabled ?? false);
    private SuccessIndicator _saveReportInd;

    private bool _includeInCatalog = true;
    private CatalogObjectLanguage _catalogObjectLanguage;

    private bool NotIncludedCurrentItemInCatalog => !_includeInCatalog;


    private async Task AutoFillNewMetadataFields()
    {
        if (_reportMetadata == null)
        {
            return;
        }

        var currentTitle = _report.Report_Name;
        if (string.IsNullOrEmpty(currentTitle))
        {
            return;
        }

        var titleFr = await _translationService.GetFrenchTranslation(currentTitle);

        _reportMetadata.SetValue(PowerBiManagementConstants.TITLE_EN_METADATA_FIELD, currentTitle);
        _reportMetadata.SetValue(PowerBiManagementConstants.TITLE_FR_METADATA_FIELD, titleFr);

        var currentProjectId = _report.Workspace.Project_Id;
        if (currentProjectId.HasValue)
        {
            var projectAdmins = "TODO";
            //var projectAdmins = GetProjectAdmins(currentProjectId.Value);
            _reportMetadata.SetValue(PowerBiManagementConstants.CONTACT_INFO_METADATA_FIELD, projectAdmins);
        }

        await Task.CompletedTask;
    }

    private async Task DetectIfCurrentItemIsInCatalog()
    {
        if (_reportMetadata == null)
        {
            // reset boolean to default, just in case
            _includeInCatalog = true;
            return;
        }

        _includeInCatalog = await _metadataService.IsObjectCatalogued(_reportMetadata.ObjectId);
    }

    private async Task SaveReport()
    {
        if (_report == null)
        {
            await Task.CompletedTask;
            return;
        }

        _isSavingReport = true;
        StateHasChanged();

        var success = await _reportMetadata.SaveChanges();

        if (success)
        {
            if (_includeInCatalog)
            {
                // group the report
                if (!string.IsNullOrEmpty(_groupWithId))
                {
                    var group = new List<string> { PowerBiReportId.ToString(), _groupWithId };
                    await _metadataService.GroupCatalogObjects(group);
                }
            }
            else
            {
                // todo: ungroup the report
                await _metadataService.DeleteFromCatalog(_reportMetadata.ObjectId);
            }
            // update the in catalog flag
            await _powerBiDataService.UpdateReportCatalogStatus(PowerBiReportId, _includeInCatalog);
        }

        if (success)
        {
            await _saveReportInd.SignalSuccess();
            await CloseItemBeingEdited(true);
        }
        else
        {
            await _saveReportInd.SignalFailure();
        }
    }

    private async Task CancelEditing() => await CloseItemBeingEdited(false);

    private async Task CloseItemBeingEdited(bool isSaved)
    {
        if (OnCloseDialog.HasDelegate)
        {
            await OnCloseDialog.InvokeAsync(isSaved);
        }
    }

    private async Task<List<PowerBi_Report>> GetReportsForGrouping(PowerBi_Report report)
    {
        var siblings = await _powerBiDataService.GetWorkspaceReports(report.Workspace_Id);
        return siblings.Where(r => r.InCatalog && r.Report_ID != report.Report_ID).ToList();
    }

    private async Task<string> GetGroupedWith(PowerBi_Report report)
    {
        var reportId = report.Report_ID.ToString().ToLower();
        var group = await _metadataService.GetObjectCatalogGroup(reportId);
        return group.FirstOrDefault(id => !id.Equals(reportId, StringComparison.OrdinalIgnoreCase));
    }


    protected override async Task OnParametersSetAsync()
    {
        _report = await _powerBiDataService.GetReportById(PowerBiReportId, true);
        _siblingReports = await GetReportsForGrouping(_report);
        _groupWithId = await GetGroupedWith(_report);
        _catalogObjectLanguage = await _metadataService.GetCatalogObjectLanguage(PowerBiReportId.ToString()) ?? CatalogObjectLanguage.Bilingual;
    }

}
