@inherits LayoutComponentBase

@using Microsoft.Identity.Web
@using Datahub.Core.Theme
@using MudBlazor.Utilities
@using Datahub.Core.Model.Achievements
@using Datahub.Core.Services.Achievements

@inject NavigationManager _navigationManager
@inject IDatahubAuditingService _auditingService
@inject IUserCircuitCounterService _userCircuitCounterService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler _consentHandler
@inject DatahubPortalConfiguration _portalConfiguration
@inject IUserInformationService _userInformationService
@inject DatahubPortalConfiguration _datahubPortalConfiguration
@inject IPortalUserTelemetryService _telemetryService
@inject ITokenAcquisition _tokenAcquisition

<MudThemeProvider Theme="@DatahubTheme.DEFAULT_THEME"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>@Localizer[_portalConfiguration.Title]</PageTitle>

@if (_isLoaded)
{
    <CascadingValue Value="@DatahubTheme.DEFAULT_THEME">
        <AuthorizeView>
            <Authorized>
                <DatahubAchievementProvider/>
                <MudLayout Style="@_style">
                    <MudAppBar Elevation="0">
                        <Topbar SupportFormUrl="@_datahubPortalConfiguration.SupportFormUrl"/>
                    </MudAppBar>
                    <MudDrawer
                        Open
                        DisableOverlay
                        Elevation="0"
                        ClipMode="DrawerClipMode.Always">
                        <Sidebar/>
                    </MudDrawer>
                    <MudMainContent>
                        <div class="ui-control">
                            <ErrorBoundary @ref="_errorBoundary">
                                <ChildContent>
                                    @if (_isSessionEnabled == true)
                                    {
                                        @Body
                                    }
                                    @if (_isSessionEnabled == false)
                                    {
                                        <TooManyTabs/>
                                    }
                                </ChildContent>
                                <ErrorContent Context="ex">
                                    @if (HandleException(@ex))
                                    {
                                        <Error User=@_userName CorrelationId=@_correlationId Exception=@ex/>
                                    }
                                    else
                                    {
                                        <MudContainer Class="mt-8 px-16" MaxWidth="MaxWidth.Large">
                                            <DHBreadcrumbs/>
                                            @Body
                                        </MudContainer>
                                    }

                                </ErrorContent>
                            </ErrorBoundary>
                        </div>
                        <RightSidebar/>
                        <Modal/>
                    </MudMainContent>
                </MudLayout>
            </Authorized>
            <NotAuthorized>
                <div>@Localizer["ERROR-PAGE.ConnectionLost-Label"]</div>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingValue>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Small" Class="mt-16">
        <i class="fa-solid fa-house" style="opacity:0; position: absolute; top: 0; left: 0;"></i>
        <i class="fa-duotone fa-house" style="opacity:0; position: absolute; top: 0; left: 0;"></i>
        <DHLoadingInitializer Message="@Localizer[GetLoadMessage()]"/>
    </MudContainer>
}

@code
{
    private string _userName;
    private ErrorBoundary _errorBoundary;
    private string _correlationId;
    private Exception _lastException;
    private bool? _isSessionEnabled;

    private static readonly string[] LOAD_MESSAGES = new[] { "Recomputing DNA sequence", "Identifying the pathogen", "Recalculating fungal genome", "Predicting soil mapping", "Analyzing forest coverage" };

    private static string GetLoadMessage()
    {
        return LOAD_MESSAGES[new Random().Next(LOAD_MESSAGES.Length)];
    }

    private string _style;

    private bool _isLoaded;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _style = new StyleBuilder()
            .AddStyle("--mud-drawer-width-left", "80px")
            .Build();
    }

    protected override async Task OnInitializedAsync()
    {
        var user = await _userInformationService.GetAuthenticatedUser(true);
        _userName = user.Identity?.Name ?? "?";

        if (!user.Identity?.IsAuthenticated ?? true)
        {
            var returnUrl = _navigationManager.ToBaseRelativePath(_navigationManager.Uri);
            _navigationManager.NavigateTo($"/login?redirectUri={returnUrl}", forceLoad:true);
            return;
        }

        try
        {
    //         var scopes = new string[] {
    // //"https://management.azure.com/.default"
    //             "https://management.azure.com/user_impersonation"
    //         };
    // var accessToken = await _tokenAcquisition.GetAccessTokenForUserAsync(scopes);
            _isSessionEnabled = await _userCircuitCounterService.IsSessionEnabled();
            await _auditingService.TrackEvent("Login");
        }
        catch (Exception ex)
        {
            _consentHandler.HandleException(ex);
        }

    // register and or update authenticated portal user
        await _userInformationService.RegisterAuthenticatedPortalUser();

        _isLoaded = true;
    }

    private bool IsIgnoredException(Exception ex)
    {
        return ex is ObjectDisposedException or MicrosoftIdentityWebChallengeUserException;
    }

    private bool HandleException(Exception ex)
    {
        if (IsIgnoredException(ex))
            return false;
        if (ex != _lastException)
        {
            _lastException = ex;
            _ = AuditExceptionAsync(ex);
        }
        return true;
    }

    private async Task AuditExceptionAsync(Exception ex)
    {
        try
        {
            var correlationId = Guid.NewGuid().ToString();
            await _auditingService.TrackException(ex, (nameof(correlationId), correlationId));
            _correlationId = correlationId;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception)
        {
    // ignored
        }
    }
}