@using MudBlazor.Utilities
@inject IConfiguration Configuration

<span>
    <MudToggleIconButton
        aria-label="Help toggle"
        ToggledIcon="@Icons.Filled.HelpCenter"
        ToggledChanged="@ToggleHelp"
        Toggled="_showHelp"
        Icon="@Icons.Outlined.HelpCenter"/>

    <MudPopover
        Style="@_style"
        Open="@_showHelp"
        AnchorOrigin="Origin.BottomRight"
        TransformOrigin="Origin.TopRight">
        <MudCard Elevation="0" Class="py-4 px-6">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@Localizer["Help"]</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Filled.Close" Color="Color.Default" OnClick="ToggleHelp"/>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudStack>
                    <MudText>@Localizer["Need a hand? We've got you covered."]</MudText>
                    <MudText Typo="Typo.body2">@Localizer["Whether you need to report an issue or just want some guidance on setting up and using your account, send us an email at:"]</MudText>
                    <MudStack Row Justify="Justify.Center">
                        <MudButton
                            Class="my-4"
                            Variant="Variant.Filled"
                            EndIcon="@Icons.Filled.Mail"
                            Color="Color.Primary"
                            Href="@DatahubEmail">
                            @Localizer["Contact Us"]
                        </MudButton>
                    </MudStack>
                </MudStack>
            </MudCardContent>
            <MudCardActions>
                <MudStack Row Justify="Justify.SpaceAround" Class="flex-grow-1">
                    <MudButton Href="privacystatement" Variant="Variant.Text" Color="Color.Primary">@Localizer["Privacy Policy"]</MudButton>
                    <MudButton Href="termsandconditions" Variant="Variant.Text" Color="Color.Primary">@Localizer["Terms and Conditions"]</MudButton>
                </MudStack>
            </MudCardActions>
        </MudCard>
    </MudPopover>
</span>

@code {

    private string _style;
    private bool _showHelp;
    private string _datahubEmail;
    private string DatahubEmail => $"mailto:{_datahubEmail}";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _datahubEmail = Configuration.GetValue<string>("EmailNotification:DatahubEmail") ?? "datahub@nrcan-rncan.gc.ca";

        _style = new StyleBuilder()
            .AddStyle("width", "550px")
            .Build();
    }

    private void ToggleHelp()
    {
        _showHelp = !_showHelp;
    }

}