@using MudBlazor.Utilities
@using System.Text.Json.Nodes;
@using AngleSharp.Text
@inject DatahubPortalConfiguration _datahubPortalConfiguration
@inject IHttpClientFactory _httpClientFactory

<MudTable Striped Items="@UserWorkspaces" Filter="new Func<UserWorkspaces,bool>(FilterUserWorkspaces)">
<ToolBarContent>
    <MudTextField @bind-Value="_searchString" Placeholder="Search by User or Workspace" Adornment="Adornment.Start"
                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<UserWorkspaces, object>(x => x.User.DisplayName)" InitialDirection="SortDirection.Ascending">
                @Localizer["User"]
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            @Localizer["Workspaces"]
        </MudTh>
            
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="User">
            <MudText Typo="Typo.h6">@string.Concat(@context.User.DisplayName, lockedUsers.Contains(@context.User.Email) ? "🔒" : "")</MudText>
            <MudText Typo="Typo.body2">@context.User.Email</MudText>
        </MudTd>
        <MudTd DataLabel="Workspaces">
            <ul style="list-style: outside;">
                @foreach(var workspace in context.Workspaces)
                {
                    <li>
                        <MudLink Href="@($"/{_datahubPortalConfiguration.ProjectUrlSegment}/{workspace.Project_Acronym_CD}")">
                            <MudText>@workspace.ProjectName <span style="@AcronymStyle">(@workspace.Project_Acronym_CD)</span></MudText>
                        </MudLink>
                    </li>
                }
            </ul>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    [Parameter]
    public ICollection<UserWorkspaces> UserWorkspaces { get; set; }

    private string _searchString;

    private string AcronymStyle => new StyleBuilder()
        .Build();

    public List<string> lockedUsers = new List<string>();

    protected override async Task OnInitializedAsync() 
    {
        // var url = _datahubPortalConfiguration.DatahubGraphLockedUsersUrl;
        //
        // var numberOfRetries = 0;
        // const int maxNumberOfRetries = 5;
        // string resultString;
        //
        // do
        // {
        //     using var client = _httpClientFactory.CreateClient();
        //     var result = await client.GetAsync(url);
        //
        //     resultString = await result.Content.ReadAsStringAsync();
        //
        //     
        // } while (string.IsNullOrWhiteSpace(resultString) && numberOfRetries++ < maxNumberOfRetries);
        //
        // if (string.IsNullOrWhiteSpace(resultString))
        // {
        //     throw new InvalidOperationException($"Unable to fetch locked users from {url}");
        // }
        // var resultJson = JsonNode.Parse(resultString);
        var exString = "[{\"email\":\"iperez@apption.com\"}, {\"email\":\"matteo.gisondi@ssc-spc.gc.ca\"}]";
        var resultJson = JsonNode.Parse(exString).AsArray();
        foreach (var user in resultJson)
        {
            lockedUsers.Add(user["email"].ToString());
        }
    }

    private bool FilterUserWorkspaces(UserWorkspaces userWorkspaces)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if (userWorkspaces.User.DisplayName.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (userWorkspaces.User.Email.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return userWorkspaces.Workspaces.Any(x => x.Project_Acronym_CD.Contains(_searchString, StringComparison.OrdinalIgnoreCase)) || 
               userWorkspaces.Workspaces.Any(x => x.ProjectName.Contains(_searchString, StringComparison.OrdinalIgnoreCase));
    }
}