
<div id="sidebar">
  <div class="logo">
    <img src="_content/Datahub.Shared/img/datahub-logo-v2.png" />
  </div>
  <div class="links">
    @foreach(var link in GetLinks())
    {
      <NavLink href="@link.Href" Match="NavLinkMatch.All" ActiveClass="active">
        <i class="@link.Icon"></i>
        @Localizer[@link.Label]
      </NavLink>
    }
    @foreach(var link in GetAuthorizedLinks())
    {
      <AuthorizeView Roles="@string.Join(',', link.Roles)">
        <NavLink href="@link.Href" Match="NavLinkMatch.All" ActiveClass="active">
          <i class="@link.Icon"></i>
          @Localizer[@link.Label]
        </NavLink>
      </AuthorizeView>
    }
  </div>
</div>

@code {

  private List<(string Href, string Icon, string Label)> GetLinks()
  {
    return new List<(string, string, string)>()
    {
      ("/", "fad fa-home", "SIDEBAR.Home"),
      ("/storage", "fad fa-hdd", "SIDEBAR.Storage"),
      ("/resources", "fad fa-project-diagram", "SIDEBAR.Resources"),
      ("/datasets", "fad fa-cabinet-filing", "SIDEBAR.Datasets"),
      ("/powerbi", "fad fa-chart-bar", "SIDEBAR.PowerBI"),
      ("/admin", "fad fa-user-cog", "SIDEBAR.Admin")
    };
  }

  private List<(string Href, string Icon, string Label, List<string> Roles)> GetAuthorizedLinks()
  {
    return new List<(string, string, string, List<string>)>()
    {
      ("/admin", "fad fa-user-cog", "SIDEBAR.Admin",
        new List<string>()
        {
          "datahub-admin",
          "project-admin"
        }
      )
    };
  }
}