
<div id="sidebar">
    <div class="logo">
        <img src="_content/Datahub.Shared/img/datahub-logo-v2.png" />
    </div>
    <div class="links">
        <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active">
            <i class="fal fa-home"></i>
            @Localizer["SIDEBAR.Home"]
        </NavLink>
        <NavLink href="/storage" Match="NavLinkMatch.Prefix" ActiveClass="active">
            <i class="fal fa-hdd"></i>
            @Localizer["SIDEBAR.Storage"]
        </NavLink>
        <NavLink href="/resources" Match="NavLinkMatch.Prefix" ActiveClass="active">
            <i class="fal fa-project-diagram"></i>
            @Localizer["SIDEBAR.Resources"]
        </NavLink>
        <NavLink href="/datasets" Match="NavLinkMatch.Prefix" ActiveClass="active">
            <i class="fal fa-cabinet-filing"></i>
            @Localizer["SIDEBAR.Datasets"]
        </NavLink>
        <NavLink href="/powerbi" Match="NavLinkMatch.Prefix" ActiveClass="active">
            <i class="fal fa-chart-bar"></i>
            @Localizer["SIDEBAR.PowerBI"]
        </NavLink>
        <NavLink href="/admin" Match="NavLinkMatch.Prefix" ActiveClass="active">
            <i class="fal fa-user-cog"></i>
            @Localizer["SIDEBAR.Admin"]
        </NavLink>
        <AuthorizeView Roles="datahub-admin, project-admin">
            <NavLink href="/admin" Match="NavLinkMatch.Prefix" ActiveClass="active">
                <i class="fal fa-user-cog"></i>
                @Localizer["SIDEBAR.Admin"]
            </NavLink>
        </AuthorizeView>
    </div>
</div>