@using Datahub.Core.Model.Datahub
@using Datahub.Core.Model.Projects
@inject IDbContextFactory<DatahubProjectDBContext> _dbFactoryProject
@inject IRequestManagementService _requestManagementService
@inject ILogger<PowerBI> _logger
@inject NavigationManager NavigationManager

<ToolCard Title=@Localizer[Title]
          Description="@Localizer[Description]">
    <Logo>
        @if (IsIconSVG)
        {
            <img src="@Icon" alt="@Localizer[Title]">
        }
        else
        {
            <MudIcon Icon="@Icon" Color="Color.Secondary" />
        }
    </Logo>
    <ToolActionsList>
        <ul>
            <li>
                <DHLink DataProject="@(Project.ProjectAcronymCD)" DatabricksURL="@Project.ProjectAcronymCD">
                    <ToolActionButton LinkType="LinkType.External">
                        @Localizer["Open Azure Databricks"]
                    </ToolActionButton>
                </DHLink>
            </li>
            <li>
                <AeButton class="light" OnClickEvent="HandleEditMetadata">@Localizer["Edit Metadata"]</AeButton>
            </li>
        </ul>
    </ToolActionsList>
</ToolCard>

@code {
    [Parameter] public DatahubProject Project { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string Icon { get; set; }
    [Parameter] public bool IsIconSVG { get; set; }


    private void HandleEditMetadata()
    {
        NavigationManager.NavigateTo($"/admin/databricks/metadata/{Project.ProjectAcronymCD}");
    }
}