@*ProjectEdit.razor*@
@page "/edit-project/{projectAcronym}"
@inject IDbContextFactory<DatahubProjectDBContext> DbFactoryProject
@inject TranslationService TranslationService
@inject IOrganizationLevelsService OrganizationLevelsService
@using Datahub.Core.Model.Projects
@implements IDisposable

@if (_project is not null)
{
    <AuthorizeView Roles="@RoleConstants.DATAHUBROLEADMIN">
        <Authorized>
            <div style="padding-left: 2rem;padding-right: 2rem">
                <AeFlex Vertical>
                    <h2>Edit Data Project</h2>
                </AeFlex>
                <AeCard CardPosition="AeCard.CardStyle.Horizontal">
                    <Header>
                        <div style="width:180px;">
                            <i class="@($"fad fa-{_project.ProjectIcon}")" />
                        </div>
                    </Header>
                    <ChildContent>
                        <AeTypography Variant="h1">@_project.ProjectName</AeTypography>
                        <AeMarkdown Content="@($"{_project.ProjectDescription}")"></AeMarkdown>
                        <AeTypography>@Localizer["Data Sensitivity"]</AeTypography>
                        <AeTypography Variant="h2">@Localizer[_project.DataSensitivity]</AeTypography>
                    </ChildContent>
                </AeCard>
                <AeCard>
                    <AeButton @onclick="SuggestTranslation">@Localizer["Suggest French Translation"]</AeButton>
                    <AeModelForm Model="_project"
                             T="DatahubProject"
                             OnValidSubmit="HandleValidSubmit"
                             LabelForPropertyFunc="Localize"
                             CancelLabel="Cancel"
                             SubmitLabel="Save Changes"
                             LocalizerFunction="Localize"
                             OnConfigure="OnConfigure" />
                </AeCard>
            </div>
        </Authorized>
    </AuthorizeView>
}

@code {
    
    private DatahubProject _project;
    private DatahubProjectDBContext projectContext;

    private List<DHOrganizationLevel> _sectors = new();
    private List<DHOrganizationLevel> _branches = new();
    private List<DHOrganizationLevel> _divisions = new();

    private int _sectorId = -1;
    private int _branchId = -1;
    private int _divisionId = -1;

    private bool _isFrench;

    [Parameter]
    public string projectAcronym { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _isFrench = CultureInfo.CurrentCulture.Name.StartsWith("fr", StringComparison.InvariantCulture);
        _sectors = await OrganizationLevelsService.GetSectors();
        _branches = await OrganizationLevelsService.GetBranches();
        _divisions = await OrganizationLevelsService.GetDivisions();

        projectContext = DbFactoryProject.CreateDbContext();
        _project = await projectContext.Projects
            .Include(p => p.Pipelines)
            .AsSingleQuery()
            .FirstOrDefaultAsync(p => p.ProjectAcronymCD == projectAcronym);
    }

    private async Task SuggestTranslation()
    {
        _project.ProjectNameFr = await TranslationService.GetFrenchTranslation(_project.Project_Name);
        _project.ProjectSummaryDescFr = await TranslationService.GetFrenchTranslation(_project.ProjectSummaryDesc);
    }

    private string Localize(string propName) => Localizer[propName ?? ""];

    private async Task UpdateFeatured(bool changed)
    {
        _project.IsFeatured = changed;
        await projectContext.SaveChangesAsync();
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleValidSubmit()
    {
        _project.LastUpdatedDT = DateTime.Now;
        //update admins here
        await projectContext.SaveChangesAsync();
    }

    private List<string> LocalizeChoices(IEnumerable<DHOrganizationLevel> levels)
    {
        return levels.Select(s => !_isFrench ? s.EnglishLabel : s.FrenchLabel).OrderBy(s => s).ToList();
    }

    private List<string> Sectors => LocalizeChoices(_sectors);
    private List<string> Branches => LocalizeChoices(_branches.Where(b => b.ParentId == _sectorId));
    private List<string> Divisions => LocalizeChoices(_divisions.Where(d => d.ParentId == _branchId));

    private int GetChoiceId(List<DHOrganizationLevel> choices, string value, int? parentId = null)
    {
        return choices.FirstOrDefault(c => (!parentId.HasValue || c.ParentId == parentId.Value) && (c.EnglishLabel.Equals(value) || c.FrenchLabel.Equals(value)))?.Id ?? -1;
    }

    private void OnConfigure(IModelFormContext context)
    {
        context.RegisterOptionValueProperty<DatahubProject>(s => s.ProjectCategory, () => new[] 
        { 
            "Data Pipeline",
            "Data Science",
            "Full Stack",
            "Guidance",
            "Power BI Reports",
            "Storage",
            "Web Forms",
            "Unknown",
            "Other",
            "Presentations",
            "Dashboards"
        });

        context.RegisterOptionValueProperty<DatahubProject>(s => s.ProjectPhase, () => new[] 
        {
            "Initiation",
            "Requirements",
            "Development/Design",
            "Implementation",
            "Testing",
            "Deployment",
            "Ongoing Maintenance and Support"
        });

        context.RegisterOptionValueProperty<DatahubProject>(p => p.SectorName, () => Sectors, s =>
        {
            var id = GetChoiceId(_sectors, s);
            if (_sectorId != id)
            {
                _sectorId = id;
                RefreshBranches(context);
            }
        });

        context.RegisterOptionValueProperty<DatahubProject>(p => p.BranchName, () => Branches, b =>
        {
            var id = GetChoiceId(_branches, b, _sectorId);
            if (_branchId != id)
            {
                _branchId = id;
                RefreshDivisions(context);
            }
        });

        context.RegisterOptionValueProperty<DatahubProject>(p => p.DivisionName, () => Divisions, d =>
        {
            var id = GetChoiceId(_divisions, d, _branchId);
            if (_divisionId != id)
            {
                _divisionId = id;
            }
        });
    }

    private void RefreshBranches(IModelFormContext context)
    {
        _branchId = -1;
        _project.BranchName = string.Empty;
        context.RefreshOptions<DatahubProject>(p => p.BranchName);
        RefreshDivisions(context);
    }

    private void RefreshDivisions(IModelFormContext context)
    {
        _divisionId = -1;
        _project.DivisionName = string.Empty;
        context.RefreshOptions<DatahubProject>(p => p.DivisionName);
    }

    public void Dispose()
    {
        projectContext.Dispose();
    }
}
