@using Shared.Layout
<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="new[] { typeof(Datahub.LanguageTraining.LanguageTrainingModule).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Datahub.Portal.Layout.PortalLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(Datahub.Portal.Layout.PortalLayout)">
                <p>@Localizer["404-Page-error"]</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
<ApplicationInsightsComponent />