@using Core.Layout
<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies=@_additionalAssemblies>
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Datahub.Portal.Layout.PortalLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(Datahub.Portal.Layout.PortalLayout)">
                <p>@Localizer["404-Page-error"]</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>

</Router>


@code {
    private IEnumerable<System.Reflection.Assembly> _additionalAssemblies = new[]
    {
        typeof(Datahub.LanguageTraining.LanguageTrainingModule).Assembly,
        typeof(Datahub.Finance.FinanceModule).Assembly,
        typeof(Datahub.M365Forms.M365FormsModule).Assembly
    };
}

