@using Datahub.Portal.Layout
<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies=@_additionalAssemblies>
    <Found Context="routeData">
        <CascadingAuthenticationState>
            @if (routeData?.PageType.Namespace?.StartsWith(PublicPageNamespace) ?? false)
            {
                <RouteView RouteData="@routeData" DefaultLayout="typeof(PublicLayout)"/>
            }
            else
            {
                <AuthorizeRouteView Resource="@routeData" RouteData="@routeData" DefaultLayout="@typeof(PortalLayout)"/>
            }
        </CascadingAuthenticationState>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(Datahub.Portal.Layout.PortalLayout)">
                <p>@Localizer["404-Page-error"]</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>

</Router>


@code {

    private IEnumerable<System.Reflection.Assembly> _additionalAssemblies = new[]
    {
        typeof(Datahub.LanguageTraining.LanguageTrainingModule).Assembly,
        typeof(Datahub.Finance.FinanceModule).Assembly,
        typeof(Datahub.M365Forms.M365FormsModule).Assembly
    };


        private const string PublicPageNamespace = "Datahub.Portal.Pages.Public";
}