<MudStack Row Spacing="0">
    @if (NumberOfWorkspacesRemaining >= 0)
    {
            <MudChip T="string" title="@Localizer["Number of workspaces remaining"]" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <p>
                        <DHIcon Icon="fa-light fa-layer-plus" Style="font-size: 0.75rem;" Color="Color.Dark"/>
                        <span class="sr-only">@Localizer["Number of workspaces remaining: "]</span>
                        @NumberOfWorkspacesRemaining
                    </p>
                </MudStack>
            </MudChip>
    }
    @if (NumberOfUsers >= 0)
    {
            <MudChip T="string" title="@Localizer["Number of users in the workspace"]" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <p>
                        <DHIcon Icon="fa-light fa-users" Style="font-size: 0.75rem;" Color="Color.Dark" Class="mr-1" />
                        <span class="sr-only">@Localizer["Number of users in the workspace: "]</span>
                        @NumberOfUsers
                    </p>
                </MudStack>
            </MudChip>
    }
    @if (NumberOfRepositories >= 0)
    {
            <MudChip T="string" title="@Localizer["Number of shared repositories"]" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <p>
                        <DHIcon Icon="fa-light fa-code-branch" Style="font-size: 0.75rem;" Color="Color.Dark"/>
                        <span class="sr-only">@Localizer["Number of shared repositories: "]</span>
                        @NumberOfRepositories
                    </p>
                </MudStack>
            </MudChip>
    }
    @if (NumberOfFiles >= 0)
    {
            <MudChip T="string" title="@Localizer["Number of shared files"]" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <p>
                        <DHIcon Icon="fa-light fa-files" Style="font-size: 0.75rem;" Color="Color.Dark"/>
                        <span class="sr-only">@Localizer["Number of shared files: "]</span>
                        @NumberOfFiles
                    </p>
                </MudStack>
            </MudChip>
    }
</MudStack>

@code {

    [Parameter] public int NumberOfUsers { get; set; } = -1;

    [Parameter] public int NumberOfRepositories { get; set; } = -1;

    [Parameter] public int NumberOfFiles { get; set; } = -1;

    [Parameter] public int NumberOfWorkspacesRemaining { get; set; } = -1;

}