<MudStack Row Spacing="0">
    @if (NumberOfWorkspacesRemaining >= 0)
    {
        <MudTooltip Text="@Localizer["Number of workspaces remaining"]" Arrow Placement="Placement.Top">
            <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <span>
                        <DHIcon Icon="fa-light fa-layer-plus" Style="font-size: 0.75rem;" Color="Color.Dark"/>
                        <p class="sr-only">@Localizer["Number of workspaces remaining: "]</p>
                        @NumberOfWorkspacesRemaining
                    </span>
                </MudStack>
            </MudChip>
        </MudTooltip>
    }
    @if (NumberOfUsers >= 0)
    {
        <MudTooltip Text="@Localizer["Number of users in the workspace"]" Arrow Placement="Placement.Top">
            <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <span>
                        <DHIcon Icon="fa-light fa-users" Style="font-size: 0.75rem;" Color="Color.Dark"/>
                        <p class="sr-only">@Localizer["Number of users in the workspace: "]</p>
                        @NumberOfUsers
                    </span>
                </MudStack>
            </MudChip>
        </MudTooltip>
    }
    @if (NumberOfRepositories >= 0)
    {
        <MudTooltip Text="@Localizer["Number of shared repositories"]" Arrow Placement="Placement.Top">
            <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <span>
                        <DHIcon Icon="fa-light fa-code-branch" Style="font-size: 0.75rem;" Color="Color.Dark"/>
                        <p class="sr-only">@Localizer["Number of shared repositories: "]</p>
                        @NumberOfRepositories
                    </span>
                </MudStack>
            </MudChip>
        </MudTooltip>
    }
    @if (NumberOfFiles >= 0)
    {
        <MudTooltip Text="@Localizer["Number of shared files"]" Arrow Placement="Placement.Top">
            <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <span>
                        <DHIcon Icon="fa-light fa-files" Style="font-size: 0.75rem;" Color="Color.Dark"/>
                        <p class="sr-only">@Localizer["Number of shared files: "]</p>
                        @NumberOfFiles
                    </span>
                </MudStack>
            </MudChip>
        </MudTooltip>
    }
</MudStack>

@code {

    [Parameter] public int NumberOfUsers { get; set; } = -1;

    [Parameter] public int NumberOfRepositories { get; set; } = -1;

    [Parameter] public int NumberOfFiles { get; set; } = -1;

    [Parameter] public int NumberOfWorkspacesRemaining { get; set; } = -1;

}