<MudStack Row Spacing="0">
    @if (NumberOfWorkspacesRemaining >= 0)
    {
        <MudTooltip Text="@Localizer["Number of workspaces remaining"]" Arrow Placement="Placement.Top">
            <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <DHIcon Icon="fa-light fa-layer-plus" Style="font-size: 0.75rem;" Color="Color.Dark" />
                    <div class="sr-only"><p>@Localizer["Number of workspaces remaining"]</p></div>
                    @NumberOfWorkspacesRemaining
                </MudStack>
            </MudChip>
        </MudTooltip>
    }
    @if (NumberOfUsers >= 0)
    {
        <MudTooltip Text="@Localizer["Number of users in the workspace"]" Arrow Placement="Placement.Top">
            <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <DHIcon Icon="fa-light fa-users" Style="font-size: 0.75rem;" Color="Color.Dark" />
                    <div class="sr-only"><p>@Localizer["Number of users in the workspace"]</p></div>
                    @NumberOfUsers
                </MudStack>
            </MudChip>
        </MudTooltip>
    }
    @if (NumberOfRepositories >= 0)
    {
        <MudTooltip Text="@Localizer["Number of shared repositories"]" Arrow Placement="Placement.Top">
            <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <DHIcon Icon="fa-light fa-code-branch" Style="font-size: 0.75rem;" Color="Color.Dark" />
                    <div class="sr-only"><p>@Localizer["Number of shared repositories"]</p></div>
                    @NumberOfRepositories
                </MudStack>
            </MudChip>
        </MudTooltip>
    }
    @if (NumberOfFiles >= 0)
    {
        <MudTooltip Text="@Localizer["Number of shared files"]" Arrow Placement="Placement.Top">
            <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Label="true" Color="Color.Dark">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <DHIcon Icon="fa-light fa-files" Style="font-size: 0.75rem;" Color="Color.Dark" />
                    <div class="sr-only"><p>@Localizer["Number of shared files"]</p></div>
                    @NumberOfFiles
                </MudStack>
            </MudChip>
        </MudTooltip>
    }
</MudStack>

@code {

    [Parameter]
    public int NumberOfUsers { get; set; } = -1;

    [Parameter]
    public int NumberOfRepositories { get; set; } = -1;

    [Parameter]
    public int NumberOfFiles { get; set; } = -1;

    [Parameter]
    public int NumberOfWorkspacesRemaining { get; set; } = -1;

}