@inherits HtmlElement


@if (Variant == "h1")
{
    <h1 class="@_classname" @attributes="@InputAttributesWithoutClass">@ChildContent</h1>
}
else if (Variant == "h2")
{
    <h2 class="@_classname" @attributes="@InputAttributesWithoutClass">@ChildContent</h2>
}
else if (Variant == "h3")
{
    <h3 class="@_classname" @attributes="@InputAttributesWithoutClass">@ChildContent</h3>
}
else if (Variant == "h3centered")
{
    <h3 class="@_classname" @attributes="@InputAttributesWithoutClass">@ChildContent</h3>
}
else if (Variant == "h4")
{
    <h4 class="@_classname" @attributes="@InputAttributesWithoutClass">@ChildContent</h4>
}
else if (Variant == "h4centered")
{
    <h4 class="@_classname" @attributes="@InputAttributesWithoutClass">@ChildContent</h4>
}
else if (Variant == "paragraph")
{
    <p class="@_classname" @attributes="@InputAttributesWithoutClass">@ChildContent</p>
}
else if (Variant == "b")
{
    <strong class="@_classname" @attributes="@InputAttributesWithoutClass">@ChildContent</strong>
}
else
{
    <div class="@_classname" @attributes="@InputAttributesWithoutClass">@ChildContent</div>
}



@code {
    [Parameter]
    public string Variant { get; set; }

    private string _classname => $"nrcan-typography {Variant} {InputClass}";

}