@using NRCan.Datahub.Metadata.Model

<AeFlex Vertical="false" style="margin-top: 10px;">
    <!-- key -->
    <div class="metadata-key" style="width: 200px; margin: 2px; flex-grow: 1;">
        @if (HeaderRole)
        {
            <AeTypography><strong>Field</strong></AeTypography>
        }
        else
        {
            <div class="_customuserinput" @onclick="SelectField">
                <AeTypography style="cursor: pointer;">
                    @if (!Preview && FieldDefinition.Required_FLAG && FieldValueEmpty)
                    {
                        <strong style="color: red">*&nbsp;</strong>
                    }
                    @FieldDefinition.Name
                </AeTypography>
            </div>
        }
    </div>

    <!-- value -->
    <div class="metadata-value" style="width: 300px; margin: 2px; flex-grow: 1;">
        @if (HeaderRole)
        {
            <AeTypography><strong>Value</strong></AeTypography>
        }
        else
        {
            <div class="customuserinput">
                @if (Preview)
                {
                    if (!FieldDefinition.HasChoices)
                    {
                        <span>@BoundValue</span>
                    }
                    {
                        <span>@ChoiceDisplay</span>
                    }
                }
                else
                {
                    if (!FieldDefinition.HasChoices)
                    {
                        if (FieldDefinition.Field_Name_TXT.StartsWith("keywords_"))
                        {
                            <KeywordInput FieldValue="FieldValue" OnFieldChanged="OnFieldChanged" />
                        }
                        else
                        {
                            <input class="ae input"
                                   type="@InputFieldType"
                                   @bind="BoundValue"
                                   @ref="FieldValueInput"
                                   disabled="@Preview"
                                   style="@FieldStyle" />
                        }
                    }
                    else
                    {
                        if (!FieldDefinition.MultiSelect_FLAG)
                        {
                            <select class="ae input"
                                    style="@FieldStyle"
                                    @bind="BoundValue"
                                    @ref="FieldValueInput">

                                <option value=""></option>

                                @foreach (var choice in FieldDefinition.Choices)
                                {
                                    <option value="@choice.Value_TXT">@choice.Label</option>
                                }
                            </select>
                        }
                        else
                        {
                            <MultiSelectList FieldDefinition="FieldDefinition" FieldValue="FieldValue" OnFieldChanged="OnFieldChanged" />
                        }
                    }
                }
            </div>
        }
    </div>

</AeFlex>

@code {

    [Parameter]
    public bool HeaderRole { get; set; }

    [Parameter]
    public bool Preview { get; set; }

    [Parameter]
    public ObjectFieldValue FieldValue { get; set; }

    [Parameter]
    public FieldDefinition FieldDefinition { get; set; }

    [Parameter]
    public string FieldLabel { get; set; }

    [Parameter]
    public bool Mandatory { get; set; }

    [Parameter]
    public EventCallback<ObjectFieldValue> OnFieldChanged { get; set; }

    private ElementReference FieldValueInput;

    private string BoundValue
    {
        get => FieldValue.Value_TXT;
        set
        {
            if (value != FieldValue.Value_TXT)
            {
                FieldValue.Value_TXT = value;
                OnFieldChanged.InvokeAsync(FieldValue);
            }
        }
    }

    private string ChoiceDisplay => !FieldDefinition.MultiSelect_FLAG ? GetChoiceLabel(FieldValue.Value_TXT) : GetMultiChoiceLabels(FieldValue.Value_TXT);

    private string FieldStyle => "width: 100%;";
    private string InputFieldType => FieldDefinition.IsDateField ? "date" : "text";

    private bool FieldValueEmpty => string.IsNullOrEmpty(BoundValue);

    private string GetChoiceLabel(string name)
    {
        return FieldDefinition.Choices.FirstOrDefault(c => c.Value_TXT == name)?.Label;
    }

    private string GetMultiChoiceLabels(string values)
    {
        var labels = (values ?? string.Empty).Split('|').Select(GetChoiceLabel);
        return string.Join("|", labels);
    }

    private void ClearField()
    {
        BoundValue = string.Empty;
        SelectField();
    }

    private async void SelectField()
    {
        if (!Preview && !FieldDefinition.HasChoices)
            await FieldValueInput.FocusAsync();
    }
}

