@using System.Linq
@using Datahub.Core.EFCore
@using System.Globalization
@implements IDisposable
@inject ISystemNotificationService systemNotificationService
@inject IUserInformationService userInfoService
@inject TimeZoneService timezoneService
@inject NavigationManager navManager

<style>
    .notification-count {
        background-color: cyan;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        border-radius: 1rem;
        font-size: small;
        position: relative;
        float: right;
        top: -0.5rem;
    }

    .notification-header {
        background-color: #dff;
        margin-top: 1rem;
    }

    .notification-header:first-child {
        margin-top: unset;
    }

    .notification-item {
        color: gray;
        clear: both;
    }

    .notification-item.unread {
        color: black;
        background-color: #dff;
    }

    .notification-readmarker {
        float: right;
        margin-right: 2rem;
        padding: 0.2rem;
        cursor: pointer;
    }
</style>

<div class="notifications-wrapper">
    <div class="icon-container" @onclick=@ToggleNotifications>
        <i class="fa-bell @(HasUnreadNotifications? "fas":"fad")"></i>
        @if (IsLoading)
        {
            <span class="notification-count">
                <i class="fad fa-spinner fa-spin"></i>
            </span>
        }
        else if(HasUnreadNotifications)
        {
            <span class="notification-count">@UnreadNotificationCount</span>
        }
    </div>
    <Popup 
        class="nrcan-popup top-nav-popup"
        Show=@ShowNotifications 
        OnCloseClick=@ToggleNotifications>
        <ChildContent>
            @foreach(var n in Notifications)
            {
                <div class="notification-item @(n.Read_FLAG? "": "unread")">
                    <div class="notification-header">
                        <span class="notification-timestamp">@(GetLocalTime(n))</span>
                        <span class="notification-readmarker" title="@(n.Read_FLAG? @Localizer[$"{LOCALIZATION_PREFIX}.MarkUnread"]: @Localizer[$"{LOCALIZATION_PREFIX}.MarkRead"])" >
                            <i class="@(GetUnreadCssClass(n))" @onclick=@(() => ToggleUnread(n))></i>
                        </span>
                    </div>
                    
                    @if (!n.Read_FLAG)
                    {
                        <p>@(UserLanguageIsFrench? n.NotificationTextFr_TXT: n.NotificationTextEn_TXT)</p>
                        @if (!string.IsNullOrEmpty(n.ActionLink_URL))
                        {
                            <AeButton OnClickEvent=@(async () => await GoToActionLink(n))>
                                @Localizer[n.ActionLink_Key ?? $"{LOCALIZATION_PREFIX}.DefaultActionLinkText"]
                            </AeButton>
                        }
                    }

                </div>
            }

            <!-- stretch the notification panel to max width even when there are no long notifications -->
            <div style="width:100vw;"></div>

        </ChildContent>
        <Footer>
            <div>
                @if (ShowLatestPageButton)
                {
                    <AeButton Disabled=@IsLoading OnClickEvent=@FirstPage>@Localizer[$"{LOCALIZATION_PREFIX}.BackToLatest"]</AeButton>
                }
                @if (ShowPreviousPageButton)
                {
                    <AeButton Disabled=@IsLoading OnClickEvent=@PrevPage>@Localizer[$"{LOCALIZATION_PREFIX}.Newer"]</AeButton>
                }
                @if (ShowNextPageButton)
                {
                    <AeButton Disabled=@IsLoading OnClickEvent=@NextPage>@Localizer[$"{LOCALIZATION_PREFIX}.Older"]</AeButton>
                }

                <label>
                    <input type="checkbox" @bind=@UnreadOnly @onclick=@ToggleShowUnreadOnly disabled=@IsLoading />
                    @Localizer[$"{LOCALIZATION_PREFIX}.ShowUnreadOnly"]
                </label>
            </div>

            <AeButton OnClickEvent=@DoTheThing>Generate notification</AeButton>
        </Footer>
    </Popup>
</div>

@code {
    private static readonly string LOCALIZATION_PREFIX = "SYSTEM-NOTIFICATION";

    private List<SystemNotification> Notifications = new();

    private int UnreadNotificationCount { get; set; }
    private bool HasUnreadNotifications => UnreadNotificationCount > 0;

    private string CurrentUserId;

    private bool UnreadOnly { get; set; }

    private bool ShowNotifications { get; set; } = false;
    private bool IsLoading { get; set; } = false;

    private int PageSize { get; set; } = 1;
    private int CurrentPage { get; set; }
    private int TotalNotificationCount { get; set; }
    private int MaxPage => (TotalNotificationCount - 1) / PageSize;

    private bool ShowLatestPageButton => CurrentPage > 0;
    private bool ShowPreviousPageButton => CurrentPage > 1;
    private bool ShowNextPageButton => CurrentPage < MaxPage;

    private void ToggleNotifications() => ShowNotifications = !ShowNotifications;

    private async Task DoTheThing()
    {
        var userId = await userInfoService.GetUserIdString();
        await systemNotificationService.CreateSystemNotification(userId, "SYSTEM-NOTIFICATION.TestStringThreeArgs", 
            "Ryan Reynolds", 
            new BilingualStringArgument("cow", "vache"), 
            new LocalizedKeyStringArgument("Download"));
    }

    private bool UserLanguageIsFrench => CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToLowerInvariant() == "fr";

    private async Task ToggleUnread(SystemNotification notification)
    {
        await systemNotificationService.SetReadStatus(notification.Notification_ID, !notification.Read_FLAG);
    }

    private async Task GoToActionLink(SystemNotification notification)
    {
        var t = ToggleUnread(notification);
        if (!string.IsNullOrEmpty(notification.ActionLink_URL))
        {
            navManager.NavigateTo(notification.ActionLink_URL);
        }
        await t;
    }

    private async ValueTask<DateTimeOffset> GetLocalTime(SystemNotification notification)
    {
        var timestampUtc = DateTime.SpecifyKind(notification.Generated_TS, DateTimeKind.Utc);
        return await timezoneService.GetLocalDateTime(timestampUtc);
    }

    private string GetUnreadCssClass(SystemNotification notification)
    {
        return notification.Read_FLAG ? "far fa-envelope" : "fas fa-envelope-open";
    }

    private async Task RefreshNotifications()
    {
        IsLoading = true;
        StateHasChanged();
        TotalNotificationCount = await systemNotificationService.GetNotificationCountForUser(CurrentUserId, UnreadOnly);
        
        UnreadNotificationCount = UnreadOnly ? 
            TotalNotificationCount : 
            await systemNotificationService.GetNotificationCountForUser(CurrentUserId, true);
        
        Notifications = await systemNotificationService.GetNotificationsForUser(CurrentUserId, UnreadOnly, CurrentPage);
        IsLoading = false;
        StateHasChanged();
    }

    private async Task ToggleShowUnreadOnly()
    {
        UnreadOnly = !UnreadOnly;
        CurrentPage = 0;
        await RefreshNotifications();
    }

    private async Task FirstPage()
    {
        CurrentPage = 0;
        await RefreshNotifications();
    }

    private async Task NextPage()
    {
        CurrentPage = Math.Min(CurrentPage + 1, MaxPage);
        await RefreshNotifications();
    }

    private async Task PrevPage()
    {
        CurrentPage = Math.Max(CurrentPage - 1, 0);
        await RefreshNotifications();
    }

    public async Task OnNotify(string userId)
    {
        if (userId == CurrentUserId)
        {
            await InvokeAsync(() => RefreshNotifications());
        }
    }

    protected override async Task OnInitializedAsync()
    {
        PageSize = systemNotificationService.GetNotificationPageSize();

        // prepare the timezone service so timestamps get rendered properly on the first try
        await timezoneService.GetLocalDateTime(DateTime.UtcNow);

        CurrentUserId = await userInfoService.GetUserIdString();

        await RefreshNotifications();

        systemNotificationService.Notify += OnNotify;
    }

    public void Dispose()
    {
        systemNotificationService.Notify -= OnNotify;
    }

}
