@using NRCan.Datahub.Shared.Data
@using NRCan.Datahub.Portal.Services
@inject ServiceAuthManager ServiceAuthManager

<div id="sidebar">
  <div class="logo">
    <img src="_content/Datahub.Core/img/datahub-logo-v2.png" />
  </div>
  <div class="links">
    @foreach(var link in GetLinks())
    {
      <NavLink class="@link.Icon.Color" href="@link.Href" Match="NavLinkMatch.All" ActiveClass="active">
        <i class="@link.Icon.Name"></i>
        @Localizer[@link.Label]
      </NavLink>
    }    
    @foreach(var link in GetAuthorizedLinks())
    {
      <AuthorizeView Roles="@string.Join(',', link.Roles)">
        <NavLink class="@link.Icon.Color" href="@link.Href" Match="NavLinkMatch.All" ActiveClass="active">
          <i class="@link.Icon.Name"></i>
          @Localizer[@link.Label]
        </NavLink>
      </AuthorizeView>
    }
  </div>
</div>

@code {


    private List<(string Href, Icon Icon, string Label)> GetLinks()
  {
    return new List<(string, Icon, string)>()
    {
      ("/", Icon.HOME, "SIDEBAR.Home"),
      ("/data", Icon.STORAGE, "SIDEBAR.Storage"),
      ("/projects", Icon.PROJECT, "SIDEBAR.DataProjects"),
      ("/resources", Icon.RESOURCES, "SIDEBAR.Resources"),
      //("/datasets", Icon.DATASETS, "SIDEBAR.Datasets"),
      //("/powerbi", Icon.POWERBI, "SIDEBAR.PowerBI"),      
    };
  }

    private List<(string Href, Icon Icon, string Label, List<string> Roles)> GetAuthorizedLinks()
    {
        var projects = ServiceAuthManager.GetAdminProjectRoles();
        if (projects.Any())
        {
            return new List<(string, Icon, string, List<string>)>()
            {
              ("/admin", Icon.ADMIN, "SIDEBAR.Admin", projects)
            };
        }
        else
        {
            return new List<(string, Icon, string, List<string>)>();
        }
    }
}