@*CatalogCard.razor*@
@using Datahub.Metadata.DTO
@using Datahub.Metadata.Model
@using Datahub.Metadata.Utils
@using Datahub.Core.Model.Datahub
@using Datahub.Core
@using Datahub.Core.Model.Projects
@inject UiControlsService uiControlService
@inject NavigationManager NavigationManager

@if (CatalogResult is null)
{
    <CardSkeleton />
}
else
{
    <div class="card" style="padding: 16px;">
        <div class="topright">
            <div class="language">
                @if (CanShowLinks())
                {
                    <a @onclick="HandleShowLinks" style="cursor: pointer;">
                            <i class="fad fa-link"></i>
                            <span>@Localizer["Group"]</span>
                    </a>
                }
                else
                {
                    if (CatalogResult.Language == CatalogObjectLanguage.Bilingual)
                    {
                        <a @onclick="SwitchLanguage" style="cursor: pointer;">
                            <i class="fad fa-repeat"></i>
                            <span>@GetOtherLangauge()</span>
                        </a>
                    }
                    else
                    {
                        <span>
                            <i class="fad fa-globe"></i>
                            <span>@GetObjectLanguage()</span>
                        </span>
                    }
                }
            </div>
            
            <div style="@($"--security-text-color: {_securityClassColor}")" class="securityclass">
                <i class="@($"fad fa-{_projectIcon}")"></i>
                <p><strong>@Localizer["DISCOVERY-LABELS.DATA SENSITIVITY"]: @Localizer[SecurityClassification.GetSecurityClassification(CatalogResult.ClassificationType)]</strong></p>
            </div>            

            @if (!string.IsNullOrEmpty(_allFieldValues["name"]))
            {
                <div title="@GetFieldDefinitions("name")" class="rowheader">
                    <i style="margin-top: 0.2rem;" class="@_fileIcon"></i>
                    <p>@_allFieldValues["name"]</p>     
                </div>
            }

            <AuthorizeView Roles=@GetCardAdminRoles()>
                <div class="rowheader">                
                    <AeButton class=@GetMetadataButtonColor() OnClickEvent=@ShowMetadataEditor>@Localizer[GetMetadataButtonText()]</AeButton>                
                </div>
            </AuthorizeView>
        </div>
        <div class="topleft">
            <div class="datasetname">
                <div title="@GetDivTitleTitle()">
                    <p>
                        @GetTitle()                
                    </p>                                
                </div>
                @if (CatalogResult.DataType == MetadataObjectType.Database)
                {
                    <div title=@Localizer["InititativeRestricted"]>
                        <i class="far fa-lock-alt"></i>
                    </div>
                }
            </div>
        </div>
        <div title="@GetDivTitleDescription()" class="title-and-subject">  
            <AeTypography Variant="p no-margin">@GetDescription()</AeTypography>
        </div>
        <div class="details-left">
            <div title="@GetDivTitleSubject()"><AeTypography Variant="p no-margin"><strong>@Localizer["Subject"]: </strong>@GetLabel("subject")</AeTypography></div>
            <AeTypography Variant="p no-margin"><strong>@Localizer["DISCOVERY-LABELS.Data Type"]: </strong>@Localizer[$"DISCOVERY-DATA-TYPES.{CatalogResult.DataType}"]</AeTypography>
            @if (!string.IsNullOrWhiteSpace(_fileType))
            {
                <AeTypography Variant="p no-margin"><strong>@Localizer["DISCOVERY-LABELS.File Format"]: </strong>@_fileType</AeTypography>
            }
            <AeTypography Variant="p no-margin"><strong>@Localizer["DISCOVERY-LABELS.Contact Information"]: </strong>@CatalogResult.Contact</AeTypography>
            @if (Project is not null)
            {
                <AeTypography Variant="p no-margin"><strong>@Localizer["Location"]: </strong><DHLink DataProject="@(Project.Project_Acronym_CD)">@Project.ProjectName</DHLink></AeTypography>
            }   
        </div>
        <div class="details-right">
            <AeTypography Variant="p no-margin"><strong>@Localizer["Sector"]: </strong>@(MapSector?.Invoke(CatalogResult, IsFrench) ?? "")</AeTypography>
            <AeTypography Variant="p no-margin"><strong>@Localizer["Branch"]: </strong>@(MapBranch?.Invoke(CatalogResult, IsFrench) ?? "")</AeTypography>
            <div title="@GetFieldDefinitions("collection")"><AeTypography Variant="p no-margin"><strong>@Localizer["DISCOVERY-LABELS.Collection Type"]: </strong>@GetLabel("collection")</AeTypography></div>
        </div>
        <div class="bottom-row">
            <div class="key-words">
                @foreach(var tag in _tags)
                {
                    <AeTag Title="@tag" class="dark"></AeTag>                
                }
            </div>
            <div class="buttons">                
                <p>@ChildContent</p>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public CatalogObjectResult CatalogResult { get; init; }

    [Parameter]
    public Datahub_Project Project { get; set; }

    public bool IsFrench => CatalogResult?.IsFrench == true;

    [Parameter]
    public Func<CatalogObjectResult, bool, string> MapSector { get; set; }

    [Parameter]
    public Func<CatalogObjectResult, bool, string> MapBranch { get; set; }

    [Parameter]
    public bool ShowLinks { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<CatalogObjectResult> OnShowLinks { get; set; }

    private string _projectIcon => CatalogResult.ClassificationType != ClassificationType.Unclassified ? $"fas fa-lock-alt" : $"fas fa-lock-open-alt";
    private string _fileIcon => GetFileIcon();
    private string _securityClassColor => GetSecurityClassColor();
    private string _metadataButtonColor => GetMetadataButtonColor();

    private FieldValueContainer _fieldValues;
    private Dictionary<string, string> _allFieldValues;
    private List<string> _tags;
    private string _fileType;

    private string GetDivTitleTitle() => IsFrench ? GetFieldDefinitions("title_translated_fr") : GetFieldDefinitions("title_translated_en");
    private string GetDivTitleDescription() => IsFrench ? GetFieldDefinitions("notes_translated_fr") : GetFieldDefinitions("notes_translated_en");
    private string GetDescription() => IsFrench ? _allFieldValues["notes_translated_fr"] : _allFieldValues["notes_translated_en"];

    private string GetTitle() 
    {
        var name_en = _allFieldValues.ContainsKey("title_translated_en") ? _allFieldValues["title_translated_en"] : string.Empty;
        var name_fr = _allFieldValues.ContainsKey("title_translated_fr") ? _allFieldValues["title_translated_fr"] : string.Empty;

        var title = IsFrench ? name_fr : name_en;

        if (string.IsNullOrEmpty(title))
            title = name_en;

        return title;
    }

    protected override void OnInitialized()
    {
        _fieldValues = CatalogResult.Metadata;
        IndexFieldValues(_fieldValues);
        SetAllTags();
    }

    private string GetLabel(string label) 
    {
        var subjects = _fieldValues.GetSelectedChoices(label).Select(s => IsFrench ? s.Label_French_TXT : s.Label_English_TXT).ToList();
        return subjects.Any() ? subjects[0] : string.Empty;
    }

    private string GetDivTitleSubject() => GetFieldDefinitions("subject");

    private void NavigateToInitiative()
    {
        NavigationManager.NavigateTo($"projects/{Project.Project_Acronym_CD}");
    }

    private void ShowMetadataEditor()
    {
        RenderFragment metadataEditor = 
            @<ObjectMetadataEditor 
                    @key=@CatalogResult.ObjectMetadataId
                    ObjectId=@CatalogResult.ObjectMetadataId.ToString() 
                    DefaultMetadataId=@CatalogResult.Location
                    Name=@CatalogResult.Name_English
                    Location=@CatalogResult.Location
                    SecurityClass=@SecurityClassification.GetSecurityClassification(CatalogResult.ClassificationType)
                    SaveButtonLabel=@Localizer["Save"] 
                    OnSave="HandleSave"
                    OnDiscard="HandleClose"
                    ValidateRequired=true
                    ProfileName="catalog"
                    ObjectType=@CatalogResult.DataType
                    ProjectId=@CatalogResult.ProjectId
                    UpdateCatalog=true
            />;
        uiControlService.ShowDialog(Localizer["Metadata"], metadataEditor);
    }

    private void HandleSave(FieldValueContainer values)
    {
        IndexFieldValues(values);
        UpdateCatalogData(values);
        StateHasChanged();
        uiControlService.HideDialog();
    }

    private void HandleClose()
    {
        uiControlService.HideDialog();
    }

    private void UpdateCatalogData(FieldValueContainer values)
    {
        CatalogResult.Metadata = values;

        var digest = values.GetCatalogDigest();
        CatalogResult.Sector = digest.Sector;
        CatalogResult.Branch = digest.Branch;
        CatalogResult.Contact = digest.Contact;
    }

    private string GetCardAdminRoles()
    {
        return Project is null ?  RoleConstants.DATAHUB_ROLE_ADMIN : $"{Project.Project_Acronym_CD}-admin {RoleConstants.DATAHUB_ROLE_ADMIN}";
    }

    private void SetAllTags()
    {
        _tags = new();
        var keywords = IsFrench ? "keywords_fr" : "keywords_en";        
        var eTags = _allFieldValues[keywords] ?? string.Empty;
        var eTagsList = eTags.Split(',', StringSplitOptions.RemoveEmptyEntries)
                             .Select(kw => kw.Trim())
                             .Where(kw => !string.IsNullOrEmpty(kw))
                             .ToList();
        _tags.AddRange(eTagsList);
    }

    private string GetMetadataButtonText()
    {
        return CatalogResult.IsCatalogComplete ? "Update Metadata" : "Complete Metadata";
    }

    private string GetMetadataButtonColor()
    {
        return CatalogResult.IsCatalogComplete ? "blue" : "red";
    }

    private string GetSecurityClassColor()
    {
        return CatalogResult.ClassificationType switch
        {
            ClassificationType.ProtectedA => "#d69e2e",
            ClassificationType.ProtectedB => "#e53e3e",
            _ => "#38a169"
        };
    }

    private string GetFileIcon()
    {
        var fileName = _allFieldValues["name"];
        _fileType = Path.GetExtension(fileName);
        _fileType = _fileType.Replace(".", "");
        return DatahubTools.GetFileTypeIcon(_fileType);
    }

    private void IndexFieldValues(FieldValueContainer fieldValues)
    {
        var names = fieldValues.GetAllFieldNames();
        _allFieldValues = names.ToDictionary(n => n, n => fieldValues.GetValue(n));
    }

    private string GetFieldDefinitions(string field)
    {
        return _fieldValues.Definitions.Get(field).Description;
    }

    private List<FieldChoice> GetOrganizationChoices(List<OrganizationLevel> levels, bool cascades)
    {
        return levels.Select(l => new FieldChoice()
        {
            Value_TXT = $"{l.Id}",
            Cascading_Value_TXT = cascades ? $"{l.ParentId}" : null,
            Label_English_TXT = l.EnglishLabel,
            Label_French_TXT = l.FrenchLabel
        }).ToList();
    }

    private void SwitchLanguage()
    {
        CatalogResult.IsFrench = !CatalogResult.IsFrench;
        StateHasChanged();
    }

    private async Task HandleShowLinks()
    {
        await OnShowLinks.InvokeAsync(CatalogResult);
    }

    private string GetObjectLanguage() => CatalogResult.Language == CatalogObjectLanguage.French ? "Français" : "English";
    
    private string GetOtherLangauge() => IsFrench ? "English" : "Français";

    private bool CanShowLinks() => ShowLinks && CatalogResult.GroupId is not null;
}