@inject IStringLocalizer DataLocalizer
@inject NavigationManager NavigationManager
@inject IJSRuntime JsInterop
@inject IUserInformationService UserInformationService
@inject UIControlsService UI
@inject IMSGraphService MSGraphService
@page "/pip/risks/{tombstone}"
@inject IDatahubAuditingService AuditingService
@inject ServiceAuthManager ServiceAuthManager

@implements IDisposable
@inject IDbContextFactory<PIPDBContext> DbFactory

<h1>PIP Risk</h1>

<h2>Selected Program</h2>
<AeTable Accessors="accessorFunctionsPip"
         T="PIP_Tombstone"
         Dataset="_tombstones"
         Headers="pipheaders"
         GridTemplateColumns="4fr 8fr"
         MaxHeight="200" />

<h2>Step 3: Enter risks associated with the program</h2>

<div>
    <AeFlex Vertical id="indexFlex">



        <AePaginatedTable Accessors="accessorFunctions"
                 T="PIP_Risks"
                 Dataset="_risks"
                 Renderers="GetRenderers()"
                 ColorAccessor="getColor"
                 Headers="headers"
                 GridTemplateColumns="2fr 2fr 2fr 2fr 2fr 2fr 1fr"
                 OnRowClick="@SetFormEdit"
                 Page="@_lastClicked"
                 PageSize="10"
                 @ref=_myTable />

                 <AePagination 
            Pageable="@_myTable" 
            OnPageClick="OnPageClick"> 
            <LeftIcon><i class='fad fa-chevron-double-left'></i></LeftIcon> 
            <RightIcon><i class='fad fa-chevron-double-right'></i></RightIcon>
            </AePagination> 


    </AeFlex>
    @if (_risk == null)
    {
        <AeFlex id="buttonBar">
            <div class="icon-container" style="margin-bottom: 10px; margin-left: 5px;">

                <FAButton Text="Add New" Icon="far fa-plus-square" onclick="e => CreateNewRisk()" />
            </div>
        </AeFlex>
    }
</div>

@if (_risk != null)
{
    if (_risk.Risks_ID > 0)
    {
        <h2>Editing Risk @_risk.Risk_Id_TXT</h2>
    }
    else
    {
        <h2>Add New Risk</h2>
    }

    <AeModelForm Model="_risk"
                 T="PIP_Risks"
                 OnValidSubmit="HandleValidSubmit"
                 OnCancel="ClearForm"
                 CancelLabel="Cancel"
                 SubmitLabel="@SubmitLabel"
                 LabelForPropertyFunc="@GetDataLabel"
                 OnConfigure="OnConfigure"
                 LabelsOnTop="true" 
                 OnChange ="OnChange"
                 Flexbox />


}

<AeFlex id="buttonBar">
    <div class="icon-container" style="margin-bottom: 10px; margin-left: 5px;">
        <FAButton Text="Indicator and Results" Icon="fal fa-arrow-left" onclick="e => GoToPreviousSheet()" />
    </div>
</AeFlex>

@code {
    [Parameter]
    public string tombstone { get; set; }
    private const string PROJECTACRONYM = "PIP";
    private List<PIP_Risks> _risks;
    private PIP_Risks _risk;
    private List<PIP_Tombstone> _tombstones;
    private PIP_Tombstone _tombstone;
    private bool _navToEdit = false;
    private string SubmitLabel = "Save";
    private Microsoft.Graph.User CurrentUser;
    private string navigationUrl = string.Empty;
    private PIPDBContext Context;  
    private bool _isUserAdmin;

    private int _lastClicked = 0;
    private IPageableComponent _myTable;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender){
            StateHasChanged();
        }
    }
    private void OnPageClick(int pageIndex)
    {
        _lastClicked = pageIndex;
    }

    protected override async Task OnInitializedAsync()
    {
        Context = DbFactory.CreateDbContext();
        CurrentUser = await UserInformationService.GetUserAsync();
        _isUserAdmin = await ServiceAuthManager.IsProjectAdmin(CurrentUser.Id, PROJECTACRONYM);
        // load projects
        _tombstones = Context.Tombstones.Where(p => p.Tombstone_ID == Convert.ToInt32(tombstone)).ToList();
        _tombstone = _tombstones[0];
        _risks = Context.Risks.Where(p => p.PIP_Tombstone.Tombstone_ID == _tombstone.Tombstone_ID && !p.IsDeleted).ToList();
    }

    
     private List<Func<PIP_Risks, RenderFragment>> GetRenderers()
    {

        if (_isUserAdmin)
        {
        return new List<Func<PIP_Risks, RenderFragment>>
            {
                null,
                null,
                null,
                null,
                null,
                null,
                risk => 
            @<div class="help icon-container" @onclick="() => DeleteRecord(risk.Risks_ID)"><i class="far fa-trash-alt"></i></div>
            };
        }
       
        return new List<Func<PIP_Risks, RenderFragment>>
            {
                null,
                null,
                null,
                null,
                null,
                null,
                null
            };
    }


     private async void OnConfirmDelete(bool isConfirmed, dynamic item)
    {
        if (isConfirmed && _risk != null)
        {
            _risk.IsDeleted = true;
            _risk.UserIdWhoDeleted = CurrentUser.Id;
            await Context.TrackSaveChangesAsync(AuditingService);
        }

        _risk = null;
        _risks = Context.Risks.Where(p => p.PIP_Tombstone.Tombstone_ID == _tombstone.Tombstone_ID && !p.IsDeleted).ToList();
        await UI.ToggleModal();        

        StateHasChanged();
    }


    private async void DeleteRecord(int recordId)
    {
        var messages = new List<string>() { "Would you like to delete this record?" };
        await UI.ToggleModal(
        @<UserChoiceModal HeaderText="Save Data" ChoiceTextList=@messages OnDecision="(a) => OnConfirmDelete(a, recordId)" ConfirmText="Yes" CancelText="No"  />);
    }

    private async void OnConfirmSave(bool isConfirmed, dynamic item)
    {
        if (isConfirmed && _risk != null)
        {
            _risk.Last_Updated_DT = DateTime.Now;
            _risk.Date_Updated_DT = DateTime.Now;
            _risk.Last_Updated_UserId = CurrentUser.Id;
            if (_risk.Risks_ID == 0)
            {
                _risk = Context.Risks.Add(_risk).Entity;
            }
            await Context.TrackSaveChangesAsync(AuditingService);
            await OnInitializedAsync();
        }
         else if (!isConfirmed && _risk != null)
        {
            var entry = Context.Entry(_risk);
            entry.CurrentValues.SetValues(entry.OriginalValues);
            entry.State = EntityState.Unchanged;
            
        }

        _risk = item;

        await UI.ToggleModal();

        if (!string.IsNullOrEmpty(navigationUrl))        
            NavigationManager.NavigateTo(navigationUrl);

        StateHasChanged();
    }

    private async Task HandleValidSubmit()
    {
        var messages = new List<string>() { "Would you like to save risk data?" };
        await UI.ToggleModal(
        @<UserChoiceModal HeaderText="Save Data" ChoiceTextList=@messages OnDecision="(a) => OnConfirmSave(a, null)"  ConfirmText="Yes" CancelText="No" />);

    }

    private async Task GoToPreviousSheet()
    {
        navigationUrl = $"/pip/indicators/{_tombstone.Tombstone_ID}";
        if (_risk == null || !Context.ChangeTracker.HasChanges())
            NavigationManager.NavigateTo(navigationUrl);
        else
            await HandleValidSubmit();           
    }

    private async Task<PIP_Risks> ClearForm()
    {
        _risk = null;
        StateHasChanged();
        return null;
    }

  

    private async Task SetFormEdit(PIP_Risks risk)
    {
        if (Context.ChangeTracker.HasChanges())
        {
            var messages = new List<string>() { "Data has been edited, would you like to save?" };
            await UI.ToggleModal(@<UserChoiceModal HeaderText="Save Data" ChoiceTextList=@messages OnDecision="(a) => OnConfirmSave(a, risk)" ConfirmText="Yes" CancelText="No" />
    );
        }
        else
        {
            _risk = risk;
            _risk.Last_Updated_UserName = MSGraphService.GetUserName(_risk.Last_Updated_UserId);

            SubmitLabel = "Save";
            StateHasChanged();
            _navToEdit = true;
        }
    }

    private string getColor(PIP_Risks current)
    {
        if (current == _risk)
        {
            return "yellow";
        }
        return "";
    }

    private List<Func<PIP_Risks, string>> accessorFunctions = new List<Func<PIP_Risks, string>>
{
        new Func<PIP_Risks, string>(p => { return p.Risk_Title; }),
        new Func<PIP_Risks, string>(p => { return p.Risk_Description_TXT; }),
        new Func<PIP_Risks, string>(p => { return p.Risk_Id_TXT; }),
        new Func<PIP_Risks, string>(p => { return p.InherentLevel1.ToString(); }),
        new Func<PIP_Risks, string>(p => { return p.InherentLevel2.ToString(); }),
        new Func<PIP_Risks, string>(p => { return p.InherentLevel3.ToString(); }),
        null,
    };

    private List<string> pipheaders = new List<string>
{
        "Title","Lead Sector"
    };

    private List<Func<PIP_Tombstone, string>> accessorFunctionsPip = new List<Func<PIP_Tombstone, string>>
{
        new Func<PIP_Tombstone, string>(p => { return p.Program_Title; }),
        new Func<PIP_Tombstone, string>(p => { return p.Lead_Sector; }),
    };

    private List<string> headers = new List<string>
    {
	    "Risk Title","Risk Description", "Risk Area", "Inherent Risk Level", "Residual Risk Level", "Target Risk Level", "Admin Tasks"
    };

    private async Task CreateNewRisk()
    {
        _risk = new PIP_Risks() { PIP_Tombstone = _tombstone, Last_Updated_DT = DateTime.Now };
        StateHasChanged();
        _navToEdit = true;
    }

    public string GetDataLabel(string propName)
    {
        return DataLocalizer[propName];
    }

    private async Task OnChange(ModelFormChangeArgs args)
    {
        StateHasChanged();
    }

    private async Task OnConfigure(IModelFormContext context)
    {
        context.RegisterOptionValueProperty<PIP_Risks>(r => r.Risk_Category, () => new[] { "Strategic", "Operational" });

        context.RegisterOptionValueProperty<PIP_Risks>(r => r.Risk_Trend_TXT, () => new[] { "↑ increasing risk",
                                                                    "→ stable, risk is being managed",
                                                                    "↓ decreasing risk",
                                                                    "N/A"
                                                                 });

        context.RegisterOptionValueProperty<PIP_Risks>(r => r.Relevant_Corporate_Priorities_TXT, () => new[] {"Accelerate development and adoption of clean technology and transition to a net-zero future in a post-pandemic economic recovery",
                                                                    "Improve market access and competitiveness for Canada’s resource sectors",
                                                                    "Advance reconciliation, build relationships and share economic benefits with Indigenous peoples",
                                                                    "Promote a diverse and inclusive workforce while supporting resource communities",
                                                                    "Protect Canadians from the impacts of natural and human-induced hazards and support climate action",
                                                                    "N/A"
                                                                 });

        context.RegisterOptionValueProperty<PIP_Risks>(r => r.Relevant_Corporate_Risks_TXT, () => new[] { "1. Competitiveness of Natural Resources Sectors and Trade ",
                                                                                "2. Safety and Security of Energy Infrastructure",
                                                                                "3. Innovation, Science and Clean Technology",
                                                                                "4. Climate Change Adaptation and Mitigation",
                                                                                "5. Public Confidence and Engagement",
                                                                                "6. Cybersecurity",
                                                                                "7. Hazards and Emergency Management",
                                                                                "8. Enabling Program Delivery",
                                                                                "N/A"
                                                                 });
        
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Impact1, () => PIP_Constants.FIVE_OPTIONS_MANDATORY);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Impact2, () => PIP_Constants.FIVE_OPTIONS_MANDATORY);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Impact3, () => PIP_Constants.FIVE_OPTIONS_MANDATORY);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Likelihood1, () => PIP_Constants.FIVE_OPTIONS_MANDATORY);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Likelihood2, () => PIP_Constants.FIVE_OPTIONS_MANDATORY);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Likelihood3, () => PIP_Constants.FIVE_OPTIONS_MANDATORY);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Ongoing_Monitoring_Activities_TXT, () => PIP_Constants.ONGOING_ACTIVITIES);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Ongoing_Monitoring_Activities_TXT2, () => PIP_Constants.ONGOING_ACTIVITIES);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Ongoing_Monitoring_Activities_TXT3, () => PIP_Constants.ONGOING_ACTIVITIES);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Ongoing_Monitoring_Timeframe_TXT, () => PIP_Constants.ONGOING_ACTIVITIES_TIMEFRAME);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Ongoing_Monitoring_Timeframe2_TXT, () => PIP_Constants.ONGOING_ACTIVITIES_TIMEFRAME);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Ongoing_Monitoring_Timeframe3_TXT, () => PIP_Constants.ONGOING_ACTIVITIES_TIMEFRAME);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Strategy_Timeline1, () => PIP_Constants.TIMELINE);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Strategy_Timeline2, () => PIP_Constants.TIMELINE);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Strategy_Timeline3, () => PIP_Constants.TIMELINE);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Strategy_Timeline4, () => PIP_Constants.TIMELINE);
        context.RegisterOptionValueProperty<PIP_Risks>(p => p.Strategy_Timeline5, () => PIP_Constants.TIMELINE);
    }

    public void Dispose() { Context.Dispose(); }
}
