@page "/onboarding/applications"
@page "/onboarding/applications/{AppId}"
@inject PortalEmailService EmailService
@implements IDisposable
@inject IServiceAuthManager ServiceAuthManager
@inject IDbContextFactory<DatahubProjectDBContext> DbFactory
@inject IUserInformationService UserInformationService
@inject IJSRuntime JsInterop
@inject UiControlsService UI
@inject IDatahubAuditingService AuditingService
@inject NavigationManager NavigationManager
@inject IOrganizationLevelsService OrganizationLevelsService

@using Datahub.Core.Model.Onboarding
@using System.Text
@using Datahub.Application.Services
@using Datahub.Application.Services.UserManagement
@using Datahub.Core.Model.Projects
@using Datahub.Core.Services.Notification;
@using Datahub.Infrastructure.Services.Security
@using Datahub.Portal.Services.Notification;

@if (_isLoaded)
{
    <Datahub.Core.Components.FormTemplate T="OnboardingApp"
                                      U="DatahubProjectDBContext"
                                      Context="Context"
                                      Metadata="@_formMetadata"
                                      HandleSubmit="HandleValidSubmit"
                                      OnChangeForms="OnChange"
                                      OnConfigureForms="OnConfigure"
                                      CreateNewRecord="CreateNewApplication"
                                      SelectedRecord="@_onboardingApplication"
                                      SetFormEditRecord="SetFormEdit"
                                      FormFilterBarOptions="@_filterBarOptions"
                                      FilterBarCheckChange="HandleFilterBarCheckChange" />

    @if (_isUserAdmin && _onboardingApplication != null)
    {
        <AeCard class="facardForms" CardPosition="AeCard.CardStyle.Horizontal">
            <AeTypography Variant="h2">@Localizer["Create Initiative"]</AeTypography>
            <AeTypography Variant="p"><strong>@Localizer["Initiative Acronym"]</strong></AeTypography>
            <AeInput class="formuserinput" @onchange="@SetProjectAcronym"></AeInput>
            <AeFlex id="buttonBar">
                <div class="icon-container" style="margin-top: 5px;">
                    <FAButton Text="@_addButton" Icon="far fa-plus-square" onclick="CreateNewProject" />
                    <SuccessIndicator @bind-IsLoading=@_submittingApproval @ref=@_submitApprovalInd />
                </div>
            </AeFlex>
        </AeCard>
    }

}

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public bool New { get; set; }
    [Parameter]
    public string AppId { get; set; }

    private FormMetadata<OnboardingApp> _formMetadata;
    private bool _onchange;
    private List<OnboardingApp> _onboardingApplications;
    private OnboardingApp _onboardingApplication;
    private DatahubProjectDBContext Context;
    private List<string> MarkDownContent = new();
    private Microsoft.Graph.Models.User _user;
    private List<Func<OnboardingApp, string>> AccessorFunctions = new List<Func<OnboardingApp, string>>();
    private bool _isLoaded;
    private string _addButton = "Create";

    private List<OrganizationLevel> _sectors = new();
    private List<OrganizationLevel> _branches = new();
    private List<OrganizationLevel> _divisions = new();

    private int _sectorId = -1;
    private int _branchId = -1;
    private int _divisionId = -1;

    private bool _isUserAdmin;
    private bool _isFrench;
    private string _newProjectAcronym;
    private SuccessIndicator _submitApprovalInd;
    private bool _submittingApproval = false;

    private List<string> Sectors => LocalizeChoices(_sectors);
    private List<string> Branches => LocalizeChoices(_branches.Where(b => b.ParentId == _sectorId));
    private List<string> Divisions => LocalizeChoices(_divisions.Where(d => d.ParentId == _branchId));

    private FilterBarOptions _filterBarOptions = new();


    private string Localize(string input) => input == null ? null : Localizer[input];

    protected override async Task OnInitializedAsync()
    {
        // load projects
        Context = DbFactory.CreateDbContext();
        _user = await UserInformationService.GetCurrentGraphUserAsync();
        _formMetadata = new();
        _isUserAdmin = await ServiceAuthManager.IsProjectAdmin(_user.Id, RoleConstants.DATAHUB_ADMIN_PROJECT);
        _isFrench = CultureInfo.CurrentCulture.Name.StartsWith("fr", StringComparison.InvariantCulture);

        _sectors = await OrganizationLevelsService.GetSectors();
        _branches = await OrganizationLevelsService.GetBranches();
        _divisions = await OrganizationLevelsService.GetDivisions();

        if (_isUserAdmin)
        {
            _filterBarOptions = new();
            _filterBarOptions.ShowCheckBox = true;
            _filterBarOptions.CheckBoxText = Localize("Hide Created Products");
            _filterBarOptions.IsChecked = true;
        }
        AccessorFunctions = new List<Func<OnboardingApp, string>>
        {
            p => { return Localizer[p.Client_Sector]; },
            p => { return Localizer[p.Client_Branch ?? string.Empty]; },
            p => { return Localizer[p.Client_Division ?? string.Empty]; },
            p => { return p.Client_Contact_Name; },
            p => { return p.ProjectCreatedDate.ToString() ?? string.Empty; },
        };

        LoadApps();
        _formMetadata.Header = Localizer["DataHub Project Onboarding Form"];
        _formMetadata.TableRoles = RoleConstants.DATAHUB_ROLE_ADMIN;
        _formMetadata.DataSet = _onboardingApplications;
        _formMetadata.AccessorFunctions = AccessorFunctions;
        _formMetadata.Headers = headers;
        _formMetadata.GridTemplateColumns = "4fr 4fr 4fr 4fr 2fr";
        _formMetadata.IsSubmitEnabled = true;
        _formMetadata.MarkDownContent = new List<string>();
        _formMetadata.MarkDownContentFooter = new List<string>();

        if (New)
            CreateNewApplication();

        _isLoaded = true;
        StateHasChanged();
    }

    private void SetProjectAcronym(ChangeEventArgs args) => _newProjectAcronym = (string)args.Value;

    private void HandleFilterBarCheckChange(bool isChecked)
    {
        _filterBarOptions.IsChecked = isChecked;
        LoadApps();
    }

    private async Task CreateNewProject()
    {
        var exists = Context.Projects.Where(a => a.Project_Acronym_CD.ToLower() == _newProjectAcronym.ToLower()).Any();
        if (exists)
        {
            var textList = new List<string>()
            {
                Localizer[$"The program acronym already exists, enter a different one."]
            };
            await UI.ToggleModal(@<WarningModal OnDecision="HandleWarningDecision" WarningTextString=@textList />);
        }
        else
        {
            _submittingApproval = true;

            // pick the sector acronym
            var orgAcronym = Context.Organization_Levels
                .Where(s => s.Org_Name_E == _onboardingApplication.Client_Sector || s.Org_Name_F == _onboardingApplication.Client_Sector)
                .Select(a => a.Org_Acronym_E)
                .FirstOrDefault();

            var sector = Context.Organization_Levels.Where(s => s.Org_Name_E == _onboardingApplication.Client_Sector || s.Org_Name_F == _onboardingApplication.Client_Sector).SingleOrDefault();
            var branch = Context.Organization_Levels.Where(s => (s.Org_Name_E == _onboardingApplication.Client_Branch || s.Org_Name_F == _onboardingApplication.Client_Branch) && s.Superior_OrgId == sector.Organization_ID).SingleOrDefault();
            var project = new Datahub_Project();
            project.Project_Acronym_CD = _newProjectAcronym;
            project.Sector = sector;
            project.Branch = branch;
            if (branch != null)
                project.Division = Context.Organization_Levels.Where(s => (s.Org_Name_E == _onboardingApplication.Client_Division || s.Org_Name_F == _onboardingApplication.Client_Division) && s.Superior_OrgId == branch.Organization_ID).SingleOrDefault();
            project.Sector_Name = orgAcronym ?? _onboardingApplication.Client_Sector;
            project.Branch_Name = _onboardingApplication.Client_Branch;
            project.Division_Name = _onboardingApplication.Client_Division;
            project.Contact_List = CreateContactList();
            project.Project_Goal = _onboardingApplication.Project_Goal;
            project.Project_Name = _onboardingApplication.Product_Name;
            project.Project_Name_Fr = _onboardingApplication.Product_Name;
            project.Project_Summary_Desc = _onboardingApplication.Project_Summary_Description;
            project.Project_Summary_Desc_Fr = _onboardingApplication.Project_Summary_Description;
            project.Project_Category = _onboardingApplication.Project_Engagement_Category;
            project.OnboardingApplicationId = _onboardingApplication.Application_ID;
            project.Data_Sensitivity = _onboardingApplication.Data_Security_Level ?? "Unclassified";
            project.Project_Status_Desc = string.Empty;
            project.Project_Status = 1;
            project.Initial_Meeting_DT = DateTime.Now;
            project.Last_Contact_DT = DateTime.Now;

            Context.Projects.Add(project);

            _onboardingApplication.ProjectCreatedDate = DateTime.Now.Date;

            var result = await Context.TrackSaveChangesAsync(AuditingService);
            if (result < 1)
            {
                await _submitApprovalInd.SignalFailure();
            }
            else
            {
                await _submitApprovalInd.SignalSuccess();

                OnboardingParameters onboardingParameters = new()
                    {
                        AppUrl = $"/initiatives/validate/{_newProjectAcronym}",
                        App = _onboardingApplication,
                        AdminEmailAddresses = ServiceAuthManager.GetProjectMailboxEmails(RoleConstants.DATAHUB_ADMIN_PROJECT)
                    };

                await EmailService.SendOnboardingMetadataEditRequest(onboardingParameters);

                NavigationManager.NavigateTo("/onboarding/confirmation");
            }
        }
    }

    private string CreateContactList()
    {
        StringBuilder stringbuilder = new();
        stringbuilder.Append(_onboardingApplication.Client_Contact_Name);
        stringbuilder.Append(" ");
        stringbuilder.Append($"<{_onboardingApplication.Client_Email}>; ");

        if (!string.IsNullOrWhiteSpace(_onboardingApplication.Additional_Contact_Email_EMAIL))
        {
            stringbuilder.Append(_onboardingApplication.Additional_Contact_Name ?? string.Empty);
            stringbuilder.Append(" ");
            stringbuilder.Append($"<{_onboardingApplication.Additional_Contact_Email_EMAIL}>");
        }

        return stringbuilder.ToString();
    }


    private async void HandleWarningDecision(bool IsContinue)
    {
        await UI.ToggleModal();
        StateHasChanged();
    }

    private List<string> LocalizeChoices(IEnumerable<OrganizationLevel> levels)
    {
        return levels.Select(s => !_isFrench ? s.EnglishLabel : s.FrenchLabel)
                     .OrderBy(s => s)
                     .ToList();
    }

    private int GetChoiceId(List<OrganizationLevel> choices, string value, int? parentId = null)
    {
        return choices.FirstOrDefault(c => (!parentId.HasValue || c.ParentId == parentId.Value) && (c.EnglishLabel.Equals(value) || c.FrenchLabel.Equals(value)))?.Id ?? -1;
    }

    private List<string> headers => new List<string>
    {
        Localizer["Sector"], Localizer["Branch"], Localizer["Division"], Localizer["Contact"], Localizer["Created Date"]
    };

    private async Task HandleValidSubmit()
    {
        if (_onboardingApplication != null)
        {
            if (_onboardingApplication.Application_ID == 0)
            {
                _onboardingApplication = Context.OnboardingApps.Add(_onboardingApplication).Entity;
            }
            _onboardingApplication.Last_Updated_DT = DateTime.Now;

            await Context.TrackSaveChangesAsync(AuditingService);

            OnboardingParameters onboardingParameters = new()
                {
                    AppUrl = $"/onboarding/applications/{_onboardingApplication.Application_ID}",
                    App = _onboardingApplication,
                    AdminEmailAddresses = ServiceAuthManager.GetProjectMailboxEmails(RoleConstants.DATAHUB_ADMIN_PROJECT)
                };

            await EmailService.SendOnboardingConfirmations(onboardingParameters, _onboardingApplication.NotificationsSent);

            _onboardingApplication.NotificationsSent = true;
            await Context.TrackSaveChangesAsync(AuditingService);

            NavigationManager.NavigateTo("/onboarding/confirmation");
        }
    }

    private void LoadApps()
    {
        _onboardingApplications = Context.OnboardingApps.ToList();

        if (_filterBarOptions.IsChecked)
        {
            _onboardingApplications = _onboardingApplications.Where(d => d.ProjectCreatedDate == null).ToList();
        }

        _formMetadata.DataSet = _onboardingApplications;

        if (!string.IsNullOrEmpty(AppId))
        {
            _onboardingApplication = Context.OnboardingApps.Where(a => a.Application_ID == Convert.ToInt32(AppId)).FirstOrDefault();
            if (_onboardingApplication != null && !_isUserAdmin)
            {
                _onboardingApplication = null;
            }
        }
    }

    private void OnConfigure(IModelFormContext context)
    {
        if (!_onchange)
        {
            context.RegisterOptionValueProperty<OnboardingApp>(p => p.Client_Sector, () => Sectors, s =>
            {
                var id = GetChoiceId(_sectors, s);
                if (_sectorId != id)
                {
                    _sectorId = id;
                    RefreshBranches(context);
                }
            });

            context.RegisterOptionValueProperty<OnboardingApp>(p => p.Client_Branch, () => Branches, s =>
            {
                var id = GetChoiceId(_branches, s, _sectorId);
                if (_branchId != id)
                {
                    _branchId = id;
                    RefreshDivisions(context);
                }
            });

            context.RegisterOptionValueProperty<OnboardingApp>(p => p.Client_Division, () => Divisions, s =>
            {
                _divisionId = GetChoiceId(_divisions, s, _branchId);
            });

            context.RegisterOptionValueProperty<OnboardingApp>(p => p.Project_Engagement_Category, () => Onboarding_Constants.CATEGORY);
            context.RegisterOptionValueProperty<OnboardingApp>(p => p.Data_Security_Level, () => Onboarding_Constants.SECURITYLEVEL);
        }

        ToggleVisibility(context);
    }

    private void RefreshBranches(IModelFormContext context)
    {
        _branchId = -1;
        _onboardingApplication.Client_Branch = string.Empty;
        context.RefreshOptions<OnboardingApp>(p => p.Client_Branch);
        RefreshDivisions(context);
    }

    private void RefreshDivisions(IModelFormContext context)
    {
        _divisionId = -1;
        _onboardingApplication.Client_Division = string.Empty;
        context.RefreshOptions<OnboardingApp>(p => p.Client_Division);
    }

    private void ToggleVisibility(IModelFormContext context)
    {
        context.SetVisible<OnboardingApp>(p => p.Project_Engagement_Category_Other, _onboardingApplication.Project_Engagement_Category == "Other");
        _onchange = false;
    }

    private void OnChange(ModelFormChangeArgs args)
    {
        _onchange = true;
        OnConfigure(args.Context);
    }

    private void CreateNewApplication()
    {
        _onboardingApplication = new OnboardingApp() { Last_Updated_DT = DateTime.Now };
        _onboardingApplication.Client_Email = _user.Mail;
        _onboardingApplication.Client_Contact_Name = _user.DisplayName;
        _formMetadata.IsSubmitEnabled = true;
        StateHasChanged();
    }

    private void SetFormEdit(OnboardingApp application)
    {
        _onboardingApplication = application;

        _sectorId = GetChoiceId(_sectors, _onboardingApplication.Client_Sector);
        _branchId = GetChoiceId(_branches, _onboardingApplication.Client_Branch, _sectorId);
        _divisionId = GetChoiceId(_divisions, _onboardingApplication.Client_Division, _branchId);

        StateHasChanged();
    }

    public void Dispose() { Context.Dispose(); }
}